


<section class="pt-xl-4 pt-lg-4 pt-md-0 pt-0 mt-xl-4 mt-lg-4 mt-md-0 mt-0">
    <div class="row justify-content-center">
        <div class="col-xl-12 mb-4 pb-4">
            <h2 class="titulo-2 text-center">Permanencia </h2>
        </div>
        <div class="col-xl-5 col-lg-10 col-md-10 col-10 mt-4 pb-4">
            

                <h2>2019</h2>
                <table width="auto" cellpadding="5px">

                <tr>
                    <td><img src="assets/image/icono-pdf.webp" width="38" height="32"></td>
                    <td><div class="boton2"><a href="assets/permanencia/04 EEFF2019 CIAF.pdf" target="_blank" class="btn btn-link">04 EEFF2019 CIAF</a></div></td>
                </tr>
                <tr>
                    <td><img src="assets/image/icono-pdf.webp" width="38" height="32"></td>
                    <td><div class="boton2"><a href="assets/permanencia/05 CERTIFICADO REQUISITOS.pdf" target="_blank" class="btn btn-link">05 Certificación Requisitos</a></div></td>
                </tr>
                <tr>
                    <td><img src="assets/image/icono-pdf.webp" width="38" height="32"></td>
                    <td><div class="boton2"><a href="assets/permanencia/06 Acuerdo 03 de Nov 18 2016 Estatutos.pdf" target="_blank" class="btn btn-link">06 Acuerdo 03 de Nov 18 2016 Estatutos</a></div></td>
                </tr>
                <tr>
                    <td><img src="assets/image/icono-pdf.webp" width="38" height="32"></td>
                    <td><div class="boton2"><a href="assets/permanencia/07 MIEMBROS FUNDADORES Y DIRECTIVOS.pdf" target="_blank" class="btn btn-link">07 Miembros Fundares Y Directivos</a></div></td>
                </tr>
                <tr>
                    <td><img src="assets/image/icono-pdf.webp" width="38" height="32"></td>
                    <td><div class="boton2"><a href="assets/permanencia/08-Acta-de-abril-30-de-2020.pdf" target="_blank" class="btn btn-link">08 Acta de abril 30 de 2020</a></div></td>
                </tr>
                
                </table>
        </div>
        <div class="col-xl-5 col-lg-10 col-md-10 col-10 mt-4 pb-4">
                <h2>2020</h2>
                <table width="auto" cellpadding="5px">
                

                <tr>
                    <td><img src="assets/image/icono-pdf.webp" width="38" height="32"></td>
                    <td><div class="boton2"><a href="assets/permanencia/2020/04_EEFF2020_CIAF.pdf" target="_blank" class="btn btn-link">04 EEFF2020 CIAF</a></div></td>
                </tr>
                <tr>
                    <td><img src="assets/image/icono-pdf.webp" width="38" height="32"></td>
                    <td><div class="boton2"><a href="assets/permanencia/2020/05_CERTIFICACION_REQUISITOS.pdf" target="_blank" class="btn btn-link">05 Certificación Requisitos</a></div></td>
                </tr>
                <tr>
                    <td><img src="assets/image/icono-pdf.webp" width="38" height="32"></td>
                    <td><div class="boton2"><a href="assets/permanencia/2020/06_Acuerdo_03_de_Nov_18_2016_Estatutos.pdf" target="_blank" class="btn btn-link">06 Acuerdo 03 de Nov 18 2016 Estatutos</a></div></td>
                </tr>
                <tr>
                    <td><img src="assets/image/icono-pdf.webp" width="38" height="32"></td>
                    <td><div class="boton2"><a href="assets/permanencia/2020/07_MIEMBROS_FUNDADORES_Y_DIRECTIVOS.pdf" target="_blank" class="btn btn-link">07 Miembros Fundares Y Directivos</a></div></td>
                </tr>
                <tr>
                    <td><img src="assets/image/icono-pdf.webp" width="38" height="32"></td>
                    <td><div class="boton2"><a href="assets/permanencia/2020/08_Acta_de_marzo_30_de_2021.pdf" target="_blank" class="btn btn-link">08 Acta de abril 30 de 2021</a></div></td>
                </tr>
                
                </table>
        </div>
        <div class="col-xl-5 col-lg-10 col-md-10 col-10 mt-4 pb-4">
                <h2>2021</h2>
                <table width="auto"  cellpadding="5px">
                

                <tr>
                    <td><img src="assets/image/icono-pdf.webp" width="38" height="32"></td>
                    <td><div class="boton2"><a href="assets/permanencia/2021/04 EEFF 2021.pdf" target="_blank" class="btn btn-link">04 EEFF2021 CIAF</a></div></td>
                </tr>
                <tr>
                    <td><img src="assets/image/icono-pdf.webp" width="38" height="32"></td>
                    <td><div class="boton2"><a href="assets/permanencia/2021/05_CERTIFICACIÓN_REQUISITOS.pdf" target="_blank" class="btn btn-link">05 Certificación Requisitos</a></div></td>
                </tr>
                <tr>
                    <td><img src="assets/image/icono-pdf.webp" width="38" height="32"></td>
                    <td><div class="boton2"><a href="assets/permanencia/2021/06 Acuerdo 03 de Nov 18 2016 Estatutos.pdf" target="_blank" class="btn btn-link">06 Acuerdo 03 de Nov 18 2016 Estatutos</a></div></td>
                </tr>
                <tr>
                    <td><img src="assets/image/icono-pdf.webp" width="38" height="32"></td>
                    <td><div class="boton2"><a href="assets/permanencia/2021/07 MIEMBROS FUNDADORES Y DIRECTIVOS.pdf" target="_blank" class="btn btn-link">07 Miembros Fundares Y Directivos</a></div></td>
                </tr>
                <tr>
                    <td><img src="assets/image/icono-pdf.webp" width="38" height="32"></td>
                    <td><div class="boton2"><a href="assets/permanencia/2021/08 Acta de marzo 25 de 2022.pdf" target="_blank" class="btn btn-link">08 Acta de abril 30 de 2022</a></div></td>
                </tr>
                </table>
        </div>
        <div class="col-xl-5 col-lg-10 col-md-10 col-10 mt-4 pb-4">
                <br><h2>2022</h2>
                <table width="auto" cellpadding="5px">
                
                <tr>
                    <td><img src="assets/image/icono-pdf.webp" width="38" height="32"></td>
                    <td><div class="boton2"><a href="assets/permanencia/2022/01 CERTIFICADO DIRECTIVOS.pdf" target="_blank" class="btn btn-link">01 Certificado Directivos</a></div></td>
                </tr>
                <tr>
                    <td><img src="assets/image/icono-pdf.webp" width="38" height="32"></td>
                    <td><div class="boton2"><a href="assets/permanencia/2022/02 MEMORIA ECONÓMICA.pdf" target="_blank" class="btn btn-link">02 Memoria Económica</a></div></td>
                </tr>
                <tr>
                    <td><img src="assets/image/icono-pdf.webp" width="38" height="32"></td>
                    <td><div class="boton2"><a href="assets/permanencia/2022/03 RENDICIÓN DE CUENTAS 2022.pdf" target="_blank" class="btn btn-link">03 RENDICIÓN DE CUENTAS 2022</a></div></td>
                </tr>
                <tr>
                    <td><img src="assets/image/icono-pdf.webp" width="38" height="32"></td>
                    <td><div class="boton2"><a href="assets/permanencia/2022/04 EEFF 2022 COMPLETOS.pdf" target="_blank" class="btn btn-link">04 EEFF2022 CIAF</a></div></td>
                </tr>
                <tr>
                    <td><img src="assets/image/icono-pdf.webp" width="38" height="32"></td>
                    <td><div class="boton2"><a href="assets/permanencia/2022/05 CERTIFICADO REQUISITOS.pdf" target="_blank" class="btn btn-link">05 Certificación Requisitos</a></div></td>
                </tr>
                <tr>
                    <td><img src="assets/image/icono-pdf.webp" width="38" height="32"></td>
                    <td><div class="boton2"><a href="assets/permanencia/2022/06 Acuerdo 03 de Nov 18 2016 Estatutos.pdf" target="_blank" class="btn btn-link">06 Acuerdo 03 de Nov 18 2016 Estatutos</a></div></td>
                </tr>
                <tr>
                    <td><img src="assets/image/icono-pdf.webp" width="38" height="32"></td>
                    <td><div class="boton2"><a href="assets/permanencia/2022/07 MIEMBROS FUNDADORES.pdf" target="_blank" class="btn btn-link">07 Miembros Fundares Y Directivos</a></div></td>
                </tr>
                <tr>
                    <td><img src="assets/image/icono-pdf.webp" width="38" height="32"></td>
                    <td><div class="boton2"><a href="assets/permanencia/2022/Acta Consejo Superior de marzo 25 de 2023.pdf" target="_blank" class="btn btn-link">Acta Consejo Superior de marzo 25 de 2023</a></div></td>
                </tr>
                
                </table>
            
            
        </div>
        <div class="col-xl-5 col-lg-10 col-md-10 col-10 mt-4 pb-4">
            <br><h2>2023</h2>
            <table width="auto" cellpadding="5px">
            
            <tr>
                <td><img src="assets/image/icono-pdf.webp" width="38" height="32"></td>
                <td><div class="boton2"><a href="assets/permanencia/2023/CERTIFICACION-DIRECTIVOS-Y-GERENCIALES-2023.pdf" target="_blank" class="btn btn-link">01 CERTIFICACIÓN DIRECTIVOS Y GERENCIALES 2023</a></div></td>
            </tr>
            <tr>
                <td><img src="assets/image/icono-pdf.webp" width="38" height="32"></td>
                <td><div class="boton2"><a href="assets/permanencia/2023/MEMORIA-ECONOMICA-2024.pdf" target="_blank" class="btn btn-link">02 Memoria Económica</a></div></td>
            </tr>
            <tr>
                <td><img src="assets/image/icono-pdf.webp" width="38" height="32"></td>
                <td><div class="boton2"><a href="assets/permanencia/2023/Revista-Rendicion-de-Cuentas-CIAF-2023.pdf" target="_blank" class="btn btn-link">03. Revista Rendición de Cuentas CIAF 2023</a></div></td>
            </tr>
            <tr>
                <td><img src="assets/image/icono-pdf.webp" width="38" height="32"></td>
                <td><div class="boton2"><a href="assets/permanencia/2023/ESTADOS-FINANC-20232.pdf" target="_blank" class="btn btn-link">04. ESTADOS FINANCIEROS 2023</a></div></td>
            </tr>
            <tr>
                <td><img src="assets/image/icono-pdf.webp" width="38" height="32"></td>
                <td><div class="boton2"><a href="assets/permanencia/2023/CERTIFICACION-REQUISITOS.pdf" target="_blank" class="btn btn-link">05. CERTIFICACION REQUISITOS</a></div></td>
            </tr>
            <tr>
                <td><img src="assets/image/icono-pdf.webp" width="38" height="32"></td>
                <td><div class="boton2"><a href="assets/permanencia/2023/Acuerdo-03-de-Nov-18-2016-Estatutos.pdf" target="_blank" class="btn btn-link">06. Acuerdo 03 de Nov 18 2016 Estatutos</a></div></td>
            </tr>
            <tr>
                <td><img src="assets/image/icono-pdf.webp" width="38" height="32"></td>
                <td><div class="boton2"><a href="assets/permanencia/2023/MIEMBROS-FUNDADORES-DE-LA-CIAF.pdf" target="_blank" class="btn btn-link">07. MIEMBROS FUNDADORES DE LA CIAF</a></div></td>
            </tr>
            <tr>
                <td><img src="assets/image/icono-pdf.webp" width="38" height="32"></td>
                <td><div class="boton2"><a href="assets/permanencia/2023/aprobacion-EEFF -Acta-Consejo-Superior-de-marzo-27-de-2024.pdf" target="_blank" class="btn btn-link">09. Aprobacion EEFF  Acta Consejo Superior de marzo 27 de 2024</a></div></td>
            </tr>

            
            </table>
        
        
        </div>
        <div class="col-xl-5 col-lg-10 col-md-10 col-10 mt-4 pb-4"></div>
    </div>
</section>


<section>



</section>