<section>
    <div class="row justify-content-center">

        <div class="col-xl-6 col-lg-6 col-md-6 col-8 text-center py-4">
        <img src="{{ops_404}}" alt="Error 404" width="80%">
        </div>

        <div class="col-xl-8 text-center py-4">
            <h2 class="text-1 bolder-1">OOOPS, PÁGINA NO ENCONTRADA.</h2>
            <p>
                Parece que te perdiste entre tantos pasillos y productos, 
                pero no te preocupes <br>en <span class="text-1 bolder-1">CIAF</span> no hay nada que no podamos hacer por ti.
            </p>
        </div>
        <div class="col-xl-8 text-center py-4">
            <a routerLink="/inicio" class="btn btn-danger">Volver al Inicio</a>
        </div>
    </div>
</section>
