<div class="row justify-content-center my-4 mx-0 px-0" id="opciones">

  <div class="col-xxl-9 col-xl-9 col-lg-10 col-md-10 col-10 text-center pt-5">

    <span class="ciaf-pill ciaf-pill--section fs-12 fw-bold rounded-pill px-4">ALTERNATIVAS PENSADAS PARA
      TI</span>

    <h3 class="text-color-2 fs-36 fw-extrablack mt-3">
      Un sistema de financiación <span class="ciaf-gradient-text ciaf-gradient-text--brand">a tu medida</span>
    </h3>
  </div>

  <div class="col-xxl-9 col-xl-9 col-lg-10 col-md-10 col-10 text-center ">
    <div class="row g-4 mt-4 text-start" ciafStagger=".ciaf-card" ciafStaggerMode="up">

      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-12">
        <article class="ciaf-card rounded-4 p-4 ciaf-option-card ">
          <div class="icono-rectangle fs-20">
            <i class="fa-solid fa-money-bill-wave"></i>
          </div>
          <h4 class="text-color-2 fs-20 fw-bold mt-3">Financiación Directa CIAF</h4>
          <ul class="fs-14 list-unstyled fw-medium">
            <li><i class="fa-solid fa-check"></i> Sin intermediarios bancarios</li>
            <li><i class="fa-solid fa-check"></i> Proceso ágil</li>
            <li><i class="fa-solid fa-check"></i> Respuesta rápida</li>
            <li><i class="fa-solid fa-check"></i> 0% interés</li>
          </ul>
          <p class="text-color-2 fs-14 fw-bold">Pasa el cursor para ver más <i class="fa-solid fa-arrow-right"></i></p>
        </article>
      </div>

      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-12">
        <article class="ciaf-card rounded-4 p-4 ciaf-option-card">
          <div class="icono-rectangle fs-20">
            <i class="fa-solid fa-percent"></i>
          </div>
          <h4 class="text-color-2 fs-20 fw-bold mt-3">Descuentos Institucionales</h4>
          <ul class="fs-14 list-unstyled fw-medium">
            <li><i class="fa-solid fa-check"></i> Convenios</li>
            <li><i class="fa-solid fa-check"></i> Beneficios especiales</li>
            <li class="mb-2"><i class="fa-solid fa-check"></i> Apoyos institucionales</li>
          </ul>
          <p class="text-color-2 fs-14 fw-bold">Pasa el cursor para ver más <i class="fa-solid fa-arrow-right"></i></p>
        </article>
      </div>

      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-12">
        <article class="ciaf-card rounded-4 p-4 ciaf-option-card">
          <div class="icono-rectangle fs-20">
            <i class="fa-solid fa-wallet"></i>
          </div>
          <h4 class="text-color-2 fs-20 fw-bold mt-3">Opciones de Pago</h4>
          <ul class="fs-14 list-unstyled fw-medium">
            <li><i class="fa-solid fa-check"></i> Pagos flexibles</li>
            <li><i class="fa-solid fa-check"></i> Acompañamiento personalizado</li>
            <li><i class="fa-solid fa-check"></i> Diferentes alternativas</li>
          </ul>
          <p class="text-color-2 fs-14 fw-bold">Pasa el cursor para ver más <i class="fa-solid fa-arrow-right"></i></p>
        </article>
      </div>

    </div>
  </div>

</div>
