.card {
  border-radius: 0.75rem;
  background-color: #faf8fb;
}

.card-body {
  padding: 1.5rem;
}

h2 {
  font-size: 2rem;
  color: #2e3a59;
}

.btn {
  transition: all 0.2s ease;
}
.btn:hover {
  opacity: 0.9;
  transform: translateY(-1px);
}

header .icono img{
  width: 20px;
  margin-left: 5px;
}

.custom-file-upload {
  display: inline-block;
  padding: 9px 15px;
  cursor: pointer;
  background-color:rgba(0,21,80,0.3)!important;
  color: white;
  border-radius: 5px 0px 0px 5px;
  width: 250px;
}

.custom-file-upload:hover {
  background-color: #212529;
}