.bg-software {
  background-color: rgba(0, 97, 168, 0.8);
}

.bg-sem1 {
  background: linear-gradient(180deg, #93a8d8 9.07%, #6c81bf 80.95%);
}

.bg-sem2 {
  background: linear-gradient(
    180deg,
    #6c81bf 11.32%,
    #697fbe 34.07%,
    #5f78bb 52.75%,
    #4d6db5 69.94%,
    #3f64b0 80.41%
  );
}
.bg-sem3 {
  background: linear-gradient(
    180deg,
    #3f64b0 2.93%,
    #3b62af 23.62%,
    #305eac 43.59%,
    #1c56a7 63.22%,
    #024ca0 82.07%
  );
}
.bg-sem4 {
  background: linear-gradient(
    180deg,
    #024ca0 7.53%,
    #054da0 20.52%,
    #0f50a2 31.2%,
    #2155a4 41.05%,
    #395ca7 50.42%,
    #5865ab 59.44%,
    #7e71af 68.19%,
    #ab7eb5 76.58%,
    #c686b8 81.07%
  );
}

.bg-sem5 {
  background: linear-gradient(
    180deg,
    #c686b8 3.34%,
    #c583b7 28.99%,
    #c279b2 50.06%,
    #bd67ab 69.43%,
    #bb61a8 75.05%
  );
}
.bg-sem6 {
  background: linear-gradient(
    180deg,
    #bb61a8 27.05%,
    #b95da6 48.06%,
    #b4519f 69.11%,
    #b24b9b 76.34%
  );
}
.bg-sem7 {
  background: linear-gradient(
    180deg,
    #b24b9b 42.81%,
    #b44b9a 56.8%,
    #bd4a98 64.83%,
    #cb4995 71.35%,
    #de4890 77.07%,
    #f8468a 82.21%,
    #ff4688 83.4%
  );
}

.bg-sem8 {
  background: linear-gradient(
    180deg,
    #ff4688 57.95%,
    #fb3a7f 61.9%,
    #f52b74 69%,
    #f2236e 77.46%,
    #f1206c 90.62%
  );
}
.bg-sem9 {
  background: linear-gradient(180deg, #f1206c 23.49%, #c00b53 81.82%);
}
.bg-sem10 {
  background-color: #c00b53;
}

/* conocel el plan */
.conoceplan {
  display: block;
}

.conoceplan p {
  font-size: 20px;
}
.conoceplan .semestre {
  border-radius: 6px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.conoceplan .desplegar {
  margin-top: -3px;
}
.conoceplan .materia {
  padding: 25px 8px;
  transition: all 1s;
  cursor: pointer;
  color: #fff;
  font-family: "fuente2";
}
.conoceplan .materia:hover {
  background-color: #98a6d5;
}

.financiacion-interno {
  position: relative;
  display: inline-block;
  margin: 0px;
}

.financiacion-interno .financiacion-contenido {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  background-color: rgba(121, 171, 58, 0.8);
  display: block;
}

.financiacion-interno .financiacion-contenido p {
  font-size: 50px;
  line-height: 50px;
}
.border-right-1 {
  border-right: 3px solid #79ab3a;
}
.border-bottom-1 {
  border-bottom: 6px solid #79ab3a;
}

.alto-card-financiacion {
  height: 300px;
}
.numero-financiacion {
  font-size: 90px;
  z-index: 1;
  padding-left: 5px;
}
/* ***************************** */
.m-menu {
  display: none;
  height: 50px;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 4;
}

.m-menu a {
  text-decoration: none !important;
}
.m-menu a p {
  color: #fff;
  font-size: 10px !important;
  padding: 0px;
  margin: 0px;
  text-decoration: none !important;
  line-height: 10px;
}

.m-menu img {
  width: 26px;
}
.active-m {
  background-color: #5a802d !important;
  height: 100%;
}
@media (max-width: 768px) {
  .bg-software {
    background-color: rgba(0, 97, 168, 1);
  }
  .m-menu {
    display: block;
    display: flex;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .m-menu {
    display: block;
    display: flex;
    height: 55px;
    overflow: hidden;
  }
}

.info-academica {
  font-size: 0.9rem;
  color: #666;
  margin-top: 4px;
  font-weight: 500;
}

.info-academica i {
  color: #999;
}

.text-7 {
  color: #315da8;
} /* Ejemplo color técnico */
.text-4 {
  color: #9b59b6;
} /* Ejemplo color tecnólogo */
.text-5 {
  color: #c2185b;
} /* Ejemplo color profesional */

.bg-8,
.bg-9,
.bg-10,
.bg-11,
.bg-12,
.bg-14,
.bg-15,
.bg-16,
.bg-17 {
  border-radius: 0 !important;
}
