<app-slidehome></app-slidehome>

<!-- <app-calidadycrecimiento></app-calidadycrecimiento> -->

<!-- creatividad e innovación -->
<section class="pt-4 mt-4 pb-4 mb-4 d-none">
    <div class="row p-0 m-0 justify-content-center">
        <div class="col-xl-12 mb-4 pb-4">
            <h2 class="titulo-2 text-center">Creatividad e Innovación</h2>
        </div>
        <div class="col-xl-12 p-0">

            <div class="row py-4 my-4 ">
              
                <div class="col-xl-3 col-lg-3 col-md-6 col-6 bg-1 text-center card-pos-creatividad" *ngFor="let creatividad of creatividadPic index as i">
                    <div class="img-pos text-center">
                       <div *ngIf="creatividad.tipolink==1">

                        <a routerLink="{{creatividad.link}}" class="btn">
                            <img src="{{creatividad.imagen}}" alt="Vitrina de empredimientos" width="" height="">
                            <p class="titulo-creatividad">{{creatividad.titulo}}</p>
                        </a>
                            
                       </div>
                       <div *ngIf="creatividad.tipolink==2">
                            <a href="{{creatividad.link}}" target="_blank" class="btn">
                                <img src="{{creatividad.imagen}}" alt="Vitrina de empredimientos" width="" height="">
                                <p class="titulo-creatividad">{{creatividad.titulo}}</p>
                            </a>
                       </div>
                    </div>
                    <div *ngIf="i>0" class="border-card"></div>
                </div>


            </div>

        </div>
    </div>
</section>
<!-- ******************************** -->
<app-cifras></app-cifras>
<app-adnciaf></app-adnciaf>
<app-ofertaprofesional></app-ofertaprofesional>
<app-ofertalaboral></app-ofertalaboral>
<app-porqueciaf></app-porqueciaf>
<app-formularioregistro></app-formularioregistro>
<app-eventos></app-eventos>
<app-noticias-home></app-noticias-home>



<!-- Modelos -->
<section class="pb-4 mb-4">
    <div class="row p-0 m-0 justify-content-center">

        <div class="col-xl-12 col-lg-12 col-md-12 col-12 p-0">

            <div class="row p-0 m-0 ">

                <div class="col-xl-3 col-lg-3 col-md-6 col-6 bg-1 text-center card-pos-creatividad">
                    <div class="img-pos">
                        <a href="https://ciaf.digital/public/web_normativa/PEI-CIAF-Educacion-Superior.pdf" class="btn" target="_blank">
                            <img src="assets/image/modelo-pedagogico.webp" alt="Conoce nuestro Modelo Pedagógico" width="" height="">
                            <p class="titulo-modelo">Conoce nuestro <br>Proyecto<br> Educativo</p>
                        </a>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 col-6 bg-1 text-center card-pos-creatividad" >
                    <div class="img-pos">
                        <a href="https://ciaf.digital/public/web_calendario/calendario_academico.pdf" class="btn" target="_blank">
                            <img src="assets/image/calendario-academico.webp" alt="Calendario Academico" width="" height="">
                            <p class="titulo-modelo">Calendario <br> Académico <br> 2026</p>
                        </a>
                    </div>
                    <div class="border-card"></div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 col-6 bg-1 text-center card-pos-creatividad">
                    <div class="img-pos">
                        <a href="#modalcv" class="btn" data-bs-toggle="modal">
                            <img src="assets/image/cv.webp" alt="Ingresa tu HDV Trabaja con Nosotros" width="" height="">
                            <p class="titulo-modelo">Ingresa tu HDV <br> Trabaja con <br>Nosotros</p>
                        </a>
                    </div>
                    <div class="border-card"></div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 col-6 bg-1 text-center card-pos-creatividad">
                    <div class="img-pos">
                        <a href="https://ciaf.digital/public/web_reglamentos/reglamentoestudiantil.pdf" target="_blank" class="btn">
                            <img src="assets/image/reglamento-estudiantil.webp" alt="Reglamento estudiantil" width="" height="">
                            <p class="titulo-modelo">Descarga el <br> Reglamento <br> Estudiantil</p>
                        </a>
                    </div>
                    <div class="border-card"></div>
                </div>

            </div>

        </div>
    </div>
</section>
<!-- ******************************** -->

  <!-- Modalsst-->
  <div class="modal fade" id="modalcv" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-6" id="exampleModalLabel">Quiero ser</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body p-0">

          <div class="row justify-content-center">
            <div class="col-6 text-center">
                <a href="https://ciaf.digital/cv/vistas/login.html" target="_blank" class="btn btn-info d-block py-4 rounded-0" >
                    <img src="assets/image/trabaja-nosotros.webp">
                    <p>Docente</p>
                </a>
            </div>

            <div class="col-6 text-center">
                <a routerLink="/cvadministrativos" class="btn btn-primary py-4 rounded-0 d-block" data-bs-dismiss="modal" aria-label="Close">
                    <img src="assets/image/funcionarios.webp">
                    <p>Administrativo</p>
                </a>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>


<app-aliados></app-aliados>


