<app-slidehome></app-slidehome>
<app-calidadycrecimiento></app-calidadycrecimiento>

<!-- creatividad e innovación -->
<section class="pt-4 mt-4 pb-4 mb-4">
    <div class="row p-0 m-0 justify-content-center">
        <div class="col-xl-12 mb-4 pb-4">
            <h2 class="titulo-2 text-center">Creatividad e Innovación</h2>
        </div>
        <div class="col-xl-12 p-0">

            <div class="row py-4 my-4 ">
              
                <div class="col-xl-3 col-lg-3 col-md-6 col-6 bg-1 text-center card-pos-creatividad" *ngFor="let creatividad of creatividadPic index as i">
                    <div class="img-pos text-center">
                       <div *ngIf="creatividad.tipolink==1">

                        <a routerLink="{{creatividad.link}}" class="btn">
                            <img src="{{creatividad.imagen}}" alt="Vitrina de empredimientos" width="" height="">
                            <p class="titulo-creatividad">{{creatividad.titulo}}</p>
                        </a>
                            
                       </div>
                       <div *ngIf="creatividad.tipolink==2">
                            <a href="{{creatividad.link}}" target="_blank" class="btn">
                                <img src="{{creatividad.imagen}}" alt="Vitrina de empredimientos" width="" height="">
                                <p class="titulo-creatividad">{{creatividad.titulo}}</p>
                            </a>
                       </div>
                    </div>
                    <div *ngIf="i>0" class="border-card"></div>
                </div>


            </div>

        </div>
    </div>
</section>
<!-- ******************************** -->


<app-noticias-home></app-noticias-home>

<app-eventos></app-eventos>

<!-- Formulario de registro -->
<div class="row fondo-parallax complemento mt-4">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12 complemento-fondo">
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                <h2 class="titulo-2 text-center text-white">Registra tus datos para contarte sobre nuestra oferta académica:</h2>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-12">

                <div class="row justify-content-center">
                    <div class="col-xl-3 col-lg-6 col-md-8 col-10">

                        <div class="formulario pt-4">
                            <form [formGroup]="myForm" (ngSubmit)="agregar()">
                               <div class="input-group mb-3 input-group-lg">
                                  <span class="input-group-text bg-3 text-white" id="basic-addon1">1</span>
                                    <input matInput type="text" class="form-control campo-input" placeholder="Nombre completo" name="nombre"  formControlName="nombre" required>
                               </div>

                               <div *ngFor="let validation of account_validation_messages.nombre">
                                    <div class="error-message" *ngIf="myForm.get('nombre')?.hasError(validation.type) && (myForm.get('nombre')?.dirty || myForm.get('nombre')?.touched)">{{validation.message}}
                                    </div>
                                </div>
                            
                               <div class="input-group mb-3 input-group-lg">
                                  <span class="input-group-text bg-3 text-white " id="basic-addon1">2</span>
                                  <input matInput type="text" class="form-control campo-input" placeholder="Correo" aria-label="email" aria-describedby="basic-addon1" required="" name="correo"  formControlName="correo">
                               </div>
                               <div *ngFor="let validation of account_validation_messages.correo">
                                <div class="error-message" *ngIf="myForm.get('correo')?.hasError(validation.type) && (myForm.get('correo')?.dirty || myForm.get('correo')?.touched)">{{validation.message}}
                                </div>
                            </div>
                               <div class="input-group mb-3 input-group-lg">
                                  <span class="input-group-text bg-3 text-white" id="basic-addon1">3</span>
                                  <input matInput type="text" class="form-control campo-input" placeholder="Celular" aria-label="celular" aria-describedby="basic-addon1" required="" name="celular"  formControlName="celular" #celular pattern="[1-9]\d{6,10}">
                               </div>
                                <div *ngFor="let validation of account_validation_messages.celular">
                                    <div class="error-message p-2" *ngIf="myForm.get('celular')?.hasError(validation.type) && (myForm.get('celular')?.dirty || myForm.get('celular')?.touched)">{{validation.message}}
                                    </div>
                                </div>
                               <div class="input-group mb-3 input-group-lg">
                                    <span class="input-group-text bg-3 text-white" id="basic-addon1">4</span>
                                   
                                    <select matInput class="form-control" name="fo_programa"  formControlName="fo_programa">
                                        <option value="">Seleccionar Programa</option>
                                        <option value="Nivel 1 - Técnico Profesional en Procesos Empresariales">Administración de Empresas</option>
                                        <option value="Técnica Profesional en Gestión Financiera">Contaduría Pública</option>
                                        <option value="Nivel 1 - Técnica profesional en programación de software">Ingeniería de Software</option>
                                        <option value="Nivel 1 - Técnico Profesional en Procesos de Seguridad y Salud en el Trabajo">Seguridad y salud en el Trabajo</option>
                                        <option value="Nivel 1 - Técnico Profesional en Logística de Producción">Ingeniería Industrial</option>
                                        <option value="Técnico laboral por competencias en mecánica de motocicletas">Técnico Laboral en Mecanica de motocicletas</option>
                                        <option value="Técnico laboral por competencias en auxiliar en enfermería">Técnico Laboral en Auxiliar en Enfermería</option>
                                        <option value="Técnico Laboral por Competencias en Administrativo en Salud">Técnico Laboral en Administrativo en Salud</option>
                                    </select>

                                </div> 

                              
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" formControlName="acepto" name="acepto">
                                  <label class="form-check-label" for="flexCheckDefault">
                                     <p class="copy text-left text-white" style="line-height: 10px;">
                                        Acepto el envío de información a mi correo electrónico. He revisado la politica de protección de datos y la politica de devoluciones y acumulados.
                                    </p>
                                  </label>
                               </div>
                               <div *ngFor="let validation of account_validation_messages.terms">
                                <div class="error-message" *ngIf="myForm.get('acepto')?.hasError(validation.type) && (myForm.get('acepto')?.dirty || myForm.get('acepto')?.touched)">{{validation.message}}
                                </div>
                                </div>
                               <div class="col-xl-12 text-center">
                                    <button type="submit" class="btn bg-3 btn-lg" [disabled]="!myForm.valid">Enviar</button>
                               </div>
                            </form>
                         </div>

                    </div>

                </div>
                
            </div>

        </div>
    </div>

</div>
<!-- ******************************** -->

<!-- Modelos -->
<section class="pb-4 mb-4">
    <div class="row p-0 m-0 justify-content-center">

        <div class="col-xl-12 col-lg-12 col-md-12 col-12 p-0">

            <div class="row p-0 m-0 ">

                <div class="col-xl-3 col-lg-3 col-md-6 col-6 bg-1 text-center card-pos-creatividad">
                    <div class="img-pos">
                        <a href="https://ciaf.digital/public/web_normativa/PEI-CIAF-Educacion-Superior.pdf" class="btn" target="_blank">
                            <img src="assets/image/modelo-pedagogico.webp" alt="Conoce nuestro Modelo Pedagógico" width="" height="">
                            <p class="titulo-modelo">Conoce nuestro <br>Proyecto<br> Educativo</p>
                        </a>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 col-6 bg-1 text-center card-pos-creatividad" >
                    <div class="img-pos">
                        <a href="https://ciaf.digital/public/web_calendario/calendario_academico.pdf" class="btn" target="_blank">
                            <img src="assets/image/calendario-academico.webp" alt="Calendario Academico" width="" height="">
                            <p class="titulo-modelo">Calendario <br> Académico <br> 2025</p>
                        </a>
                    </div>
                    <div class="border-card"></div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 col-6 bg-1 text-center card-pos-creatividad">
                    <div class="img-pos">
                        <a href="#modalcv" class="btn" data-bs-toggle="modal">
                            <img src="assets/image/cv.webp" alt="Ingresa tu HDV Trabaja con Nosotros" width="" height="">
                            <p class="titulo-modelo">Ingresa tu HDV <br> Trabaja con <br>Nosotros</p>
                        </a>
                    </div>
                    <div class="border-card"></div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 col-6 bg-1 text-center card-pos-creatividad">
                    <div class="img-pos">
                        <a href="https://ciaf.digital/public/web_reglamentos/reglamentoestudiantil.pdf" target="_blank" class="btn">
                            <img src="assets/image/reglamento-estudiantil.webp" alt="Reglamento estudiantil" width="" height="">
                            <p class="titulo-modelo">Descarga el <br> Reglamento <br> Estudiantil</p>
                        </a>
                    </div>
                    <div class="border-card"></div>
                </div>

            </div>

        </div>
    </div>
</section>
<!-- ******************************** -->

  <!-- Modalsst-->
  <div class="modal fade" id="modalcv" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-6" id="exampleModalLabel">Quiero ser</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body p-0">

          <div class="row justify-content-center">
            <div class="col-6 text-center">
                <a href="https://ciaf.digital/cv/vistas/login.html" target="_blank" class="btn btn-info d-block py-4 rounded-0" >
                    <img src="assets/image/trabaja-nosotros.webp">
                    <p>Docente</p>
                </a>
            </div>

            <div class="col-6 text-center">
                <a routerLink="/cvadministrativos" class="btn btn-primary py-4 rounded-0 d-block" data-bs-dismiss="modal" aria-label="Close">
                    <img src="assets/image/funcionarios.webp">
                    <p>Administrativo</p>
                </a>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>


<app-aliados></app-aliados>


