

<section>
    <div class="row justify-content-center">
        <div class="col-xl-8 py-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a routerLink="/inicio">Inicio</a></li>
                  <li class="breadcrumb-item"><a routerLink="/continuada">Educación Continuada</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Curso</li>
                </ol>
            </nav>
        </div>

        <div class="col-xl-8" *ngFor="let cursos of detalleCurso index as i">
            <div class="titulo-1 text-1 text-center py-4 my-4">{{cursos.nombre_curso}}</div>

            <div class="row">
                <div class="col-xl-8">
                    <div class="row justify-content-center">
                        <div class="col-xl-10">
                             <img src="https://ciaf.digital/public/img_educacion/{{cursos.imagen_curso}}" alt="{{cursos.nombre_curso}}" width="100%">
                        </div>  
                        <div class="col-xl-10 text-right"> 
                            <span class="etiqueta">{{cursos.categoria}}</span> 
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="row">
                        <div class="col-xl-12 bg-1 p-4 text-white">
                            <p>{{cursos.descripcion_curso}}</p>
                        </div>
                        <div class="col-xl-12 py-4 text-center">
                            <a href="" class="btn-pagos"><span class="icono bg-3"> >> </span> <span class="boton">Pago en linea</span></a>
                            <a href="" class="btn-pagos "><span class="icono bg-3"> >> </span> <span class="boton">Inscribirme</span></a>
                        </div>
                        <div class="col-xl-12 p-2 text-center">
                            <h3><a href="" class="btn-pagos"><span class="icono bg-3"> Inversión </span> <span class="boton">$ {{cursos.precio_curso}}</span></a></h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6 bg-7 text-3 px-4 py-1">
                            Nivel
                        </div>
                        <div class="col-xl-6 bg-7 px-4 py-1">
                            {{cursos.nivel_educacion}}
                        </div>
                        <div class="col-xl-6 text-3 px-4 py-1">
                            Modalidad
                        </div>
                        <div class="col-xl-6 px-4 py-1">
                            {{cursos.modalidad_curso}}
                        </div>
                        <div class="col-xl-6 bg-7 text-3 px-4 py-1">
                            Duración
                        </div>
                        <div class="col-xl-6 bg-7 px-4 py-1">
                            {{cursos.duracion_educacion}} horas
                        </div>
                        <div class="col-xl-6 text-3 px-4 py-1">
                            Fecha de inicio
                        </div>
                        <div class="col-xl-6 px-4 py-1">
                            <!-- {{cursos.fecha_inicio}} -->
                            {{ cursos.fecha_inicio | date:"d MMMM Y" }}  
                        </div>

                    </div>
                    
                </div>
            </div>

        </div>

        <div class="col-xl-8 col-lg-8 col-mb-8 col-10 py-4">
            <a routerLink="/continuada" class="btn">
                <img src="{{prev}}" alt="Volver"> 
                Regresar
            </a>
        </div>

        <div class="col-xl-12 col-lg-12 col-md-12 col-12 m-4 p-4"></div>

    </div>
    

</section>