

<section>
    <div class="row justify-content-center">
        <div class="col-xl-8 py-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a routerLink="/inicio">Inicio</a></li>
                  <li class="breadcrumb-item"><a routerLink="/continuada">Educación Continuada</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Curso</li>
                </ol>
            </nav>
        </div>

        <div class="col-xl-8" *ngFor="let cursos of detalleCurso index as i">
            <div class="titulo-1 text-1 text-center py-4 my-4">{{cursos.nombre_curso}}</div>

            <div class="row">
                <div class="col-xl-8">
                    <div class="row justify-content-center">
                        <div class="col-xl-10">
                             <img src="https://ciaf.digital/public/img_educacion/{{cursos.imagen_curso}}" alt="{{cursos.nombre_curso}}" width="100%">
                        </div>  
                        <div class="col-xl-10 text-right"> 
                            <span class="etiqueta">{{cursos.categoria}}</span> 
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="row">
                        <div class="col-xl-12 bg-1 p-4 text-white">
                            <p [innerHTML]="cursos.descripcion_curso"></p>
                        </div>
                        <div class="col-xl-12 py-4 text-center">
                            <a (click)="modalverificacion()" data-bs-toggle="modal" class="btn-pagos "><span class="icono bg-3"> 1 </span> <span class="boton pointer">Inscribirme</span></a>
                            <a (click)="modalverificar()" data-bs-toggle="modal" class="btn-pagos"><span class="icono bg-3"> 2 </span> <span class="boton pointer">Pago en linea</span></a>
                        </div>
                        <div class="col-xl-12 p-2 text-center">
                            <h3><a href="" class="btn-pagos"><span class="icono bg-3"> Inversión </span> <span class="boton">$ {{cursos.precio_curso}}</span></a></h3>
                        </div>
                    </div>
                    <div class="row">
                        <!-- <div class="col-xl-6 bg-7 text-3 px-4 py-1">
                            Nivel
                        </div>
                        <div class="col-xl-6 bg-7 px-4 py-1">
                            {{cursos.nivel_educacion}}
                        </div> -->
                        <div class="col-xl-6 text-3 px-4 py-1">
                            Modalidad
                        </div>
                        <div class="col-xl-6 px-4 py-1">
                            {{cursos.modalidad_curso}}
                        </div>
                        <div class="col-xl-6 bg-7 text-3 px-4 py-1">
                            Duración
                        </div>
                        <div class="col-xl-6 bg-7 px-4 py-1">
                            {{cursos.duracion_educacion}} horas
                        </div>
                        <div class="col-xl-6 text-3 px-4 py-1">
                            Fecha de inicio
                        </div>
                        <div class="col-xl-6 px-4 py-1">
                            <!-- {{cursos.fecha_inicio}} -->
                            <!-- {{ cursos.fecha_inicio | date:"d MMMM Y" }}   -->
                              Próximamente
                        </div>

                    </div>
                    
                </div>
            </div>

        </div>

        <div class="col-xl-8 col-lg-8 col-mb-8 col-10 py-4">
            <a routerLink="/continuada" class="btn">
                <img src="{{prev}}" alt="Volver"> 
                Regresar
            </a>
        </div>

        <div class="col-xl-12 col-lg-12 col-md-12 col-12 m-4 p-4"></div>

    </div>
    

</section>


<!-- Modal registro-->
<div class="modal fade" id="modalregistro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-6" id="exampleModalLabel">Formulario de registro</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="myForm" (ngSubmit)="agregar()">
                <div class="input-group mb-3 input-group-lg" *ngIf="element"> 
                    <input type="text" class="form-control campo-input" placeholder="" name="id_curso"  formControlName="id_curso"  required>
                </div>

                <div class="input-group mb-3 input-group-lg">
                    <span class="input-group-text bg-2 text-white" id="basic-addon1">1</span>
                    <input matInput type="number" class="form-control campo-input" placeholder="Identificacion" aria-label="identificacion" aria-describedby="basic-addon1" required="" name="identificacion"  formControlName="identificacion">
                 </div>
                <div *ngFor="let validation of account_validation_messages.identificacion">
                    <div class="error-message p-2" *ngIf="myForm.get('identificacion')?.hasError(validation.type) && (myForm.get('identificacion')?.dirty || myForm.get('identificacion')?.touched)">{{validation.message}}
                    </div>
                </div>

                <div class="input-group mb-3 input-group-lg">
                    <span class="input-group-text bg-2 text-white" id="basic-addon1">2</span>
                      <input matInput type="text" class="form-control campo-input" placeholder="Nombre completo" name="nombre"  formControlName="nombre" required>
                 </div>
                <div *ngFor="let validation of account_validation_messages.nombre">
                    <div class="error-message" *ngIf="myForm.get('nombre')?.hasError(validation.type) && (myForm.get('nombre')?.dirty || myForm.get('nombre')?.touched)">{{validation.message}}
                    </div>
                </div>

                <div class="input-group mb-3 input-group-lg">
                    <span class="input-group-text bg-2 text-white" id="basic-addon1">3</span>
                    <input matInput type="text" class="form-control campo-input" placeholder="Celular" aria-label="celular" aria-describedby="basic-addon1" required="" name="celular"  formControlName="celular"  pattern="[1-9]\d{6,10}">
                 </div>
                <div *ngFor="let validation of account_validation_messages.celular">
                    <div class="error-message p-2" *ngIf="myForm.get('celular')?.hasError(validation.type) && (myForm.get('celular')?.dirty || myForm.get('celular')?.touched)">{{validation.message}}
                    </div>
                </div>
            
               <div class="input-group mb-3 input-group-lg">
                  <span class="input-group-text bg-2 text-white " id="basic-addon1">4</span>
                  <input matInput type="text" class="form-control campo-input" placeholder="Correo electronico" aria-label="email" aria-describedby="basic-addon1" required="" name="email"  formControlName="email">
               </div>
               <div *ngFor="let validation of account_validation_messages.email">
                    <div class="error-message" *ngIf="myForm.get('email')?.hasError(validation.type) && (myForm.get('email')?.dirty || myForm.get('email')?.touched)">{{validation.message}}
                    </div>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" formControlName="acepto" name="acepto">
                    <label class="form-check-label" for="flexCheckDefault">
                       <p class="copy text-left" style="line-height: 10px;">
                          Acepto el envío de información a mi correo electrónico. He revisado la politica de protección de datos y la politica de devoluciones y acumulados.
                      </p>
                    </label>
                 </div>
                 <div *ngFor="let validation of account_validation_messages.terms">
                  <div class="error-message" *ngIf="myForm.get('acepto')?.hasError(validation.type) && (myForm.get('acepto')?.dirty || myForm.get('acepto')?.touched)">{{validation.message}}
                  </div>
                  </div>
                 <div class="col-xl-12 text-center">
                      <button type="submit" class="btn bg-2 btn-lg" [disabled]="!myForm.valid">Enviar</button>
                 </div>



          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
</div>

<!-- Modal pago-->
<div class="modal fade" id="modalverificar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-6" id="exampleModalLabel">Formulario de pago</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="myFormverificar" (ngSubmit)="verificar()">
                <div class="input-group mb-3 input-group-lg" *ngIf="element"> 
                    <input type="text" class="form-control campo-input" placeholder="" name="id_curso_verificar"  formControlName="id_curso_verificar"  required>
                </div>

                <div class="input-group mb-3 input-group-lg">
                    <span class="input-group-text bg-2 text-white" id="basic-addon1">1</span>
                    <input type="number" class="form-control campo-input" placeholder="Número de identificación" aria-label="identificacion_verificar" aria-describedby="basic-addon1" required="" name="identificacion_verificar"  formControlName="identificacion_verificar">
                 </div>
                <div *ngFor="let validation of verificar_validation_messages.identificacion_verificar">
                    <div class="error-message p-2" *ngIf="myFormverificar.get('identificacion_verificar')?.hasError(validation.type) && (myFormverificar.get('identificacion_verificar')?.dirty || myFormverificar.get('identificacion_verificar')?.touched)">{{validation.message}}
                    </div>
                </div>
                <div class="col-xl-12 text-center">
                    <button type="submit" class="btn bg-2 btn-lg" [disabled]="!myFormverificar.valid">Enviar</button>
               </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
</div>

