<div class="contenido">
    <section class="m-0 p-0 bg-18">
        <div class="row">
            <div class="col-9 border-end border-dark">
                <div class="row m-0 p-0  bg-7 ">
                    <div class="col-xl-1 text-center py-3 fw-bolder">Hora</div>
                    <div class="col-xl-3 py-3">Docente</div>
                    <div class="col-xl-5 py-3">Asignatura</div>
                    <div class="col-xl-2 py-3">Programa</div>
                    <div class="col-xl-1 py-3 text-center">Salón | Sem.</div>
                </div>
                <div class="row">
                    <div class="col-12 pt-2">
                        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" >
                            <div ngxSlickItem *ngFor="let datos of listarHorario; index as i" class="slide">
                                <div class="row m-0 p-0 text-white border-bottom border-dark">
                                    <div class="col-xl-1 text-center text-3">
                                        <div class="row">
                                            <div class="col-12">{{datos.hora }}</div>
                                            <div class="col-12">{{datos.hasta }}</div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 pt-2">

                                        <div class="row">
                                            <div class="col-1">

                                                <div *ngIf="datos.usuario_imagen==''; then thenBlock else elseBlock"></div>
                                                <ng-template #thenBlock>
                                                    <img
                                                    [src]="'https://ciaf.digital/files/null.jpg'"
                                                    style="width: 30px; height:30px; border-radius: 100px;"
                                                    class=""
                                                    />
                                                </ng-template>
                                                <ng-template #elseBlock>
                                                    <img
                                                    [src]="'https://ciaf.digital/files/docentes/' + datos.usuario_imagen"
                                                    style="width: 30px; height:30px; border-radius: 100px;"
                                                    />
                                                </ng-template>
                                            </div>
                                            <div class="col-11 pt-1">
                                                <span class="ms-2 pt-2">{{ datos.usuario_nombre +  ' ' + datos.usuario_apellido }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-5 pt-1">
                                        <div class="row">
                                            <div class="col-12 fs-5 overflow-hidden alto-fila">
                                                {{ datos.nombre_asignatura }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-2 py-2">{{ datos.nombre_escuela }}</div>
                                 
                                    <div class="col-xl-1 text-center pt-2">
                                        <div class="row">
                                            <div class="col-6 bg-3">{{ datos.salon }}</div>
                                            <div class="col-6 bg-4">{{ datos.semestre }}</div>
                                        </div>
                                    </div>
                                </div>
                    
                            </div>
                        </ngx-slick-carousel>
                    </div>
                </div>
            </div>
            <div class="col-3 bg-18">
                <div class="row">
                    <div class="col-12">
                        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig2" >
                            <div ngxSlickItem *ngFor="let datos of listarHorario; index as i" class="slide">
                                <div class="row text-white justify-content-center">
                                    <div class="col-xl-12 bg-3">

                                        <div class="row">
                                            <div class="col-1 p-2">

                                                <div *ngIf="datos.usuario_imagen==''; then thenBlock else elseBlock"></div>
                                                <ng-template #thenBlock>
                                                    <img
                                                    [src]="'https://ciaf.digital/files/null.jpg'"
                                                    style="width: 40px; height:40px; border-radius: 200px;"
                                                    class=""
                                                    />
                                                </ng-template>
                                                <ng-template #elseBlock>
                                                    <img
                                                    [src]="'https://ciaf.digital/files/docentes/' + datos.usuario_imagen"
                                                    style="width: 40px; height:40px; border-radius: 200px;"
                                                    />
                                                </ng-template>
                                            </div>
                                            <div class="col-7 pt-2">
                                                <div class="ms-4 pt-2">{{ datos.usuario_nombre +  ' ' + datos.usuario_apellido }}</div>
                                            </div>

                                            <div class="col-xl-4 text-center bg-4">
                                                <div class="row">
                                                    <div class="col-12 pt-2">
                                                        Semestre
                                                    </div>
                                                    <div class="col-12 fs-6">
                                                        {{ datos.semestre }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-11 fs-5 lh-1 text-center py-2 ">
                                        <div class="row vertical-align-center alto-1">
                                            <div class="col-12">
                                                {{ datos.nombre_asignatura }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-8 ps-4 fs-4 text-3">
                                        <div class="row">
                                            <div class="col-12 fs-4 text-3"><span class="text-white fs-6">De: </span>{{datos.hora }}</div>
                                            <div class="col-12 fs-6 text-3"><span class="text-white fs-6">Hasta: </span>{{datos.hasta }}</div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 text-center bg-3">
                                        <div class="row">
                                            <div class="col-12 pt-2">
                                                Salón
                                            </div>
                                            <div class="col-12 fs-6">
                                                {{ datos.salon }}
                                            </div>
                                        </div>
                                    </div>
                                 
                                    <div class="col-11"><hr></div>
                                    <div class="col-xl-12 ps-4 pb-2 text-3">{{ datos.nombre_escuela }}</div>
                                    <div class="col-xl-12 ps-4 pb-2">{{ datos.nombre_programa }}</div>
                                    
                                    
                                </div>
                    
                            </div>
                        </ngx-slick-carousel>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="m-0 p-0 bg-18">
        <div class="row">
            <div class="col-12 bg-1">
                <div class="row justify-content-center">
                    <div class="col-9 ps-4 py-2">
                        <img [src]="img_logo" alt="CIAF educación superior" width="150px">
                    </div>
                    <div class="col-3 text-center text-white pt-4">
                        <h1 class="fs-3 pe-4 text-6" id="clock">Hora actual</h1>
                    </div>
                </div>
            </div>
            <div class="col-9 border-end border-dark">
                <div class="row m-0 p-0  bg-7 ">
                    <div class="col-xl-1 text-center py-3 fw-bolder">Hora</div>
                    <div class="col-xl-3 py-3">Docente</div>
                    <div class="col-xl-5 py-3">Asignatura</div>
                    <div class="col-xl-2 py-3">Programa</div>
                    <div class="col-xl-1 py-3 text-center">Salón | Sem.</div>
                </div>
                <div class="row">
                    <div class="col-12 pt-2">
                        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" >
                            <div ngxSlickItem *ngFor="let datos of listarHorarioProximo; index as i" class="slide">
                                <div class="row m-0 p-0 text-white border-bottom border-dark">
                                    <div class="col-xl-1 text-center text-2">
                                        <div class="row">
                                            <div class="col-12">
                                                {{datos.hora }}
                                            </div>
                                            <div class="col-12">{{datos.hasta }}</div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 pt-2">

                                        <div class="row">
                                            <div class="col-1">

                                                <div *ngIf="datos.usuario_imagen==''; then thenBlock else elseBlock"></div>
                                                <ng-template #thenBlock>
                                                    <img
                                                    [src]="'https://ciaf.digital/files/null.jpg'"
                                                    style="width: 30px; height:30px; border-radius: 100px;"
                                                    class=""
                                                    />
                                                </ng-template>
                                                <ng-template #elseBlock>
                                                    <img
                                                    [src]="'https://ciaf.digital/files/docentes/' + datos.usuario_imagen"
                                                    style="width: 30px; height:30px; border-radius: 100px;"
                                                    />
                                                </ng-template>
                                            </div>
                                            <div class="col-11 pt-1">
                                                <span class="ms-2 pt-2">{{ datos.usuario_nombre +  ' ' + datos.usuario_apellido }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-5 pt-1">
                                        <div class="row">
                                            <div class="col-12 fs-5 overflow-hidden alto-fila">
                                                {{ datos.nombre_asignatura }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-2 pt-2">{{ datos.nombre_escuela }}</div>
                                 
                                    <div class="col-xl-1 text-center pt-2">
                                        <div class="row">
                                            <div class="col-6 bg-2">{{ datos.salon }}</div>
                                            <div class="col-6 bg-4">{{ datos.semestre }}</div>
                                        </div>
                                    </div>
                                </div>
                    
                            </div>
                        </ngx-slick-carousel>
                    </div>
                </div>
            </div>
            <div class="col-3 bg-18">
                <div class="row">
                    <div class="col-12">
                        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig2" >
                            <div ngxSlickItem *ngFor="let datos of listarHorarioProximo; index as i" class="slide">
                                <div class="row text-white justify-content-center">
                                    <div class="col-xl-12 bg-2">

                                        <div class="row">
                                            <div class="col-1 p-2">

                                                <div *ngIf="datos.usuario_imagen==''; then thenBlock else elseBlock"></div>
                                                <ng-template #thenBlock>
                                                    <img
                                                    [src]="'https://ciaf.digital/files/null.jpg'"
                                                    style="width: 40px; height:40px; border-radius: 200px;"
                                                    class=""
                                                    />
                                                </ng-template>
                                                <ng-template #elseBlock>
                                                    <img
                                                    [src]="'https://ciaf.digital/files/docentes/' + datos.usuario_imagen"
                                                    style="width: 40px; height:40px; border-radius: 200px;"
                                                    />
                                                </ng-template>
                                            </div>
                                            <div class="col-7 pt-2">
                                                <div class="ms-4 pt-2">{{ datos.usuario_nombre +  ' ' + datos.usuario_apellido }}</div>
                                            </div>

                                            <div class="col-xl-4 text-center bg-4">
                                                <div class="row">
                                                    <div class="col-12 pt-2">
                                                        Semestre
                                                    </div>
                                                    <div class="col-12 fs-6">
                                                        {{ datos.semestre }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-11 fs-5 lh-1 text-center py-2 ">
                                        <div class="row vertical-align-center alto-1">
                                            <div class="col-12">
                                                {{ datos.nombre_asignatura }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-8 ps-4 ">
                                        <div class="row">
                                            <div class="col-12 fs-4 text-2"><span class="text-white fs-6">De: </span>{{datos.hora }}</div>
                                            <div class="col-12 fs-6 text-2"><span class="text-white fs-6">Hasta: </span>{{datos.hasta }}</div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 text-center bg-2">
                                        <div class="row">
                                            <div class="col-12 pt-2">
                                                Salón
                                            </div>
                                            <div class="col-12 fs-6">
                                                {{ datos.salon }}
                                            </div>
                                        </div>
                                    </div>
                                 
                                    <div class="col-11"><hr></div>
                                    <div class="col-xl-12 ps-4 pb-2 text-2">{{ datos.nombre_escuela }}</div>
                                    <div class="col-xl-12 ps-4 pb-2">{{ datos.nombre_programa }}</div>
                                    
                                    
                                </div>
                    
                            </div>
                        </ngx-slick-carousel>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>