<section>
    <div class="row banner-interno">
       <div class="col-xl-12 col-lg-12 col-md-12 col-12 pc">
            <img src="{{banner_pc}}" alt="Administración de empresas">
       </div>
       <div class="col-xl-12 col-lg-12 col-md-12 col-12 movil">
        <img src="{{banner_movil}}" alt="Administración de empresas">
   </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-12 banner-contenido">
            <div class="row justify-content-center vertical-align-center">

                <div class="col-xl-10 col-lg-10 col-md-10 col-12 padding">
                    <div class="row">
                        <div class="col-xl-6 col-lg-8 col-9 text-white">
                            <div class="lema text-center">Técnico Laboral en</div>
                            <h1 class="text-center">Auxiliar <br>de Emfermería</h1>
                            <p class="snies text-right">Resolución: 15449 del 30 Dic. 2019</p>
                            <p class="lema text-center"> Gerente creativo e innovador  de empresas y emprendimientos </p>
                        </div>
                    </div>
                </div>

                <div class="col-xl-12 col-lg-12 col-md-12 pt-4">

                    <div class="row d-flex justify-content-center">
                        <div class="col-xl-11 col-lg-11 col-md-11 col-8 wrap-programas">
                
                            <div class="col-xl-12 col-lg-12 col-md-12 col-12 bg-software superior">
                                <div class="row text-center small text-white">    
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-12"><b><i class="bi bi-hourglass"></i><b> Programa</b> Técnico *</b></div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-12"><b><i class="bi bi-water"></i> Duración</b> 3 semestres</div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-12"><b><i class="bi bi-bookmark-heart"></i> Diferentes</b> Jornadas</div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-12"><b><i class="bi bi-code"></i> Modalidad</b> Presencial (PAT)</div>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-12 p-0">
                                <div class="row tabs" ng-init="inicioAlgo()">
                                    <a (click)="paginas('1')" class="col-xl-3 col-lg-3 col-md-3 col-12" (click)="activo='1'" [ngClass] = "activo=='1'  ?  'active'  :  ''">
                                        Conoce elPrograma
                                    </a>
                                    <a (click)="paginas('2')" class="col-xl-3 col-lg-3 col-md-3 col-12" (click)="activo='2'" [ngClass] = "activo=='2'  ?  'active'  :  ''">
                                        Plan de estudios
                                    </a>
                                    <a (click)="paginas('3')" class="col-xl-3 col-lg-3 col-md-3 col-12" (click)="activo='3'" [ngClass] = "activo=='3'  ?  'active'  :  ''">
                                        Valores y financiación directa
                                    </a>
                                    <a (click)="paginas('4')" class="col-xl-3 col-lg-3 col-md-3 col-12" (click)="activo='4'" [ngClass] = "activo=='4'  ?  'active'  :  ''">
                                        Inicia tu proceso de matrícula
                                    </a>
                                </div>
                            </div>
                
                        </div>
                    </div>

                </div>

            </div>
        </div>
    
    </div>
</section>

