<header class="header m-0 py-2">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-md-12 col-12">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-4 icono"> 
                    <a class="btn-link-1 vertical-align-center justify-content-center"> 
                        <!-- <img [src]="img_destino" alt="Ubicación CIAF"> -->
                        <span class="ml-2">Guiate con MAPS</span>
                    </a>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-4 icono"> 
                    <a class="btn-link-1 vertical-align-center justify-content-center">
                        <!-- <img [src]="img_ubicacion" alt="Ubicación CIAF">  -->
                        <span class="ml-2">Cra. 6 No. 24-56 Pereira</span>
                    </a>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-4 icono"> 
                    <a class="btn-link-1 vertical-align-center justify-content-center">
                        <!-- <img [src]="img_campus" alt="Icono campus virtual"> -->
                        <span class="ml-2">Campus virtual</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>



<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-1 pt-2 menu" aria-label="Sixth navbar example">
    <div class="row justify-content-center col-xl-12 col-lg-12 col-md-12 col-12">
        <div class="col-xl-10 col-lg-12 col-md-12 col-12">

            <div class="row container-fluid">

                <div class="col-xl-2 col-lg-2 col-md-12 col-12">
                   <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-6 col-6">
                            <span class="logo">
                                <a class="navbar-brand" routerLink="/inicio"><img [src]="img_logo" alt="Carreras profesionales"></a>
                            </span>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-6 col-6 text-right">
                            <button class="navbar-toggler collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample06" aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </div>
                   </div>
                </div>
                <div class="col-xl-10 col-lg-10">

                    <div class="navbar-collapse collapse" id="navbarsExample06">

                        <div class="col-xl-9 col-lg-9 col-12 ">

                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                                <div class="dropdown">
                                    <button class="dropbtn">Carreras Universitarias</button>
                                    <div class="dropdown-content">
                                        <h3>Escuela de Ciencias administrativas</h3>
                                        <a href="#" class="" routerLink="/administracion"  routerLinkActive="active-link">Administración de Empresas</a>
                                        <a href="#" class="" routerLink="/contaduria"  routerLinkActive="active-link">Contaduría Pública</a>
                                        <hr class="py-0 my-0">

                                        <h3>Escuela de Ingenierías</h3>
                                        <a href="#" class="" routerLink="/software"  routerLinkActive="active-link">Ingeniería de desarrollo de Software</a>
                                        <a href="#" class="" routerLink="/industrial"  routerLinkActive="active-link">Ingeniería Industrial</a>
                                        <hr class="py-0 my-0">

                                        <h3>Escuela de Salud</h3>
                                        <a href="#" class="" routerLink="/sst"  routerLinkActive="active-link">Seguridad y Salud en el Trabajo (SSTG)</a>
                                       
                                        <hr class="py-0 my-0">
                                    </div>
                                </div>

                                <div class="dropdown">
                                    <button class="dropbtn" >Carreras T. Laborales</button>
                                    <div class="dropdown-content">

                                        <h3>Escuela de Ingenierías</h3>
                                        <a href="#" class="" routerLink="/motocicletas"  routerLinkActive="active-link">Mecánica de Motocicletas</a>
                                        <hr class="py-0 my-0">

                                        <h3>Escuela de Salud</h3>
                                        <a href="#" class="" routerLink="/enfermeria"  routerLinkActive="active-link">Auxiliar Enfermería</a>
                                        <a href="#" class="" routerLink="/salud"  routerLinkActive="active-link">Administrativo en Salud</a>
                                        <hr class="py-0 my-0">
                                    </div>
                                </div>

                                <li class="nav-item">
                                    <a class="nav-link text-white" routerLink="/continuada"  routerLinkActive="active-link">Educación Continuada</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" routerLink="/bienestar"  routerLinkActive="active-link">Experiencias de Bienestar</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" routerLink="/conocenos"  routerLinkActive="active-link">Conócenos</a>
                                </li>


                                
                            </ul>

                        </div>
                        <div class="col-xl-3 col-lg-3 vertical-align-center justify-content-center">
                            <div id="opbuscar">
                                <button class="hamburger"><img [src]="img_lupa" alt="Ubicación CIAF"></button>
                                <button class="cross">&#735;</button>
                            </div>
                            <a href="" class="btn-financiacion">Financiación <br> Directa</a>
                            <a class="btn btn-1 margin-1 padding-4">Inscribete</a>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</nav>



 <!-- buscador -->
<div class="buscador pt-3">
    <form>
     <div class="row justify-content-center">
         <div class="col-xl-10">
             <div class="row pt-4 pb-2">
 
                 <div class="input-group mb-3">
                     <input type="text" class="form-control" placeholder="Buscar ..." aria-label="Recipient's username" aria-describedby="button-addon2">
                     <button class="btn btn-outline-warning" type="button" id="button-addon2"><img [src]="img_lupa_2" alt="Buscar" ></button>
                   </div>
 
 
 
             </div>
         </div>
     </div>
    </form>
</div>
<!-- hasta aqui llega el buscador    -->

  <div class="wrapper" *ngIf="false">aqui funciona el scroll</div>



  <div class="redes-header">

    <li><a href=""><img [src]="img_apfacebook" alt="facebook"></a></li>
    <li><a href=""><img [src]="img_apinstagram" alt="Instagram"></a></li>
    <li><a href=""><img [src]="img_apyoutube" alt="Youtube"></a></li>
    <li><a href=""><img [src]="img_aptwitter" alt="Twitter"></a></li>
    <li><a href=""><img [src]="img_aptiktok" alt="Tik Tok"></a></li>


  </div>

    <div class="api-whatsapp">
        <a href="https://api.whatsapp.com"  target="_blank">
            <img src="assets/image/icono-whatsapp.svg" alt="Mi SVG feliz"/>
        </a>
    </div>

    <div class="row m-menu">

        <div class="col-xl-3 col-lg-3 col-md-3 col-3">
            <div class="dropup">
                    <a class="dropdown-toggle text-center " data-bs-toggle="dropdown">
                        <div class="col-12">
                            <img src="assets/image/programas-m.webp" alt="carreras profesionales">
                        </div>
                        <div class="col-12">
                            <p>carreras</p>
                        </div>
                    </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Link 1</a></li>
                  <li><a class="dropdown-item" href="#">Link 2</a></li>
                  <li><a class="dropdown-item" href="#">Link 3</a></li>
                </ul>
              </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-3 col-3">
            <div class="dropup">
                    <a class="dropdown-toggle text-center " data-bs-toggle="dropdown">
                        <div class="col-12">
                            <img src="assets/image/programas-m.webp" alt="carreras profesionales">
                        </div>
                        <div class="col-12">
                            <p>carreras</p>
                        </div>
                    </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Link 1</a></li>
                  <li><a class="dropdown-item" href="#">Link 2</a></li>
                  <li><a class="dropdown-item" href="#">Link 3</a></li>
                </ul>
              </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-3 col-3">
            <div class="dropup">
                    <a class="dropdown-toggle text-center " data-bs-toggle="dropdown">
                        <div class="col-12">
                            <img src="assets/image/programas-m.webp" alt="carreras profesionales">
                        </div>
                        <div class="col-12">
                            <p>carreras</p>
                        </div>
                    </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Link 1</a></li>
                  <li><a class="dropdown-item" href="#">Link 2</a></li>
                  <li><a class="dropdown-item" href="#">Link 3</a></li>
                </ul>
              </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-3 col-3">
            <div class="dropup">
                    <a class="dropdown-toggle text-center " data-bs-toggle="dropdown">
                        <div class="col-12">
                            <img src="assets/image/programas-m.webp" alt="carreras profesionales">
                        </div>
                        <div class="col-12">
                            <p>carreras</p>
                        </div>
                    </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Link 1</a></li>
                  <li><a class="dropdown-item" href="#">Link 2</a></li>
                  <li><a class="dropdown-item" href="#">Link 3</a></li>
                </ul>
              </div>
        </div>




   
    </div>
