<footer class="bg-1">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-10 col-md-10 col-10">

            <div class="row">
               
                <div class="col-xl-6 col-lg-12 col-md-12 col-12">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-12 pt-4 mt-4">
                            <h2>Mantente Actualizado</h2>
                        </div>
                        <div class="col-xl-12 col-lg-12-col-md-12 col-12">
                            <div class="col-xl-12 col-lg-12-col-md-12 col-12 vertical-align-center pt-1 pb-1">
                                <form class="col-xl-10 col-lg-10 col-md-10">
                                    <div class="input-group  input-group-sm">
                                        
                                        <input type="text" class="form-control suscripcion-input" placeholder="Correo electrónico" aria-label="username" aria-describedby="basic-addon1" required="">
                                        <span class="input-group-text bg-2 text-white" id="basic-addon1">
                                            <button type="submit" class="btn">Suscribirse ahora</button>
                                        </span>
                                    </div>
                                    
                                </form>
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-12 pt-4">
                            <h3 class="titulo-3">Conócenos</h3>
                                <li><a routerLink="/blog" class="link-light">Blog </a></li>
                                <li><a routerLink="conocenos"  class="link-light">Sobre nosotros</a></li>
                                <li><a routerLink="horarios" class="link-light">Horarios</a></li>
                                <li><a href="#" class="link-light">Centro de Idiomas</a></li>
                                <li><a routerLink="tratamientodatos"  class="link-light">Política de datos</a></li>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-12 pt-4">
                            <h3 class="titulo-3">Contáctanos</h3>
                            <li><a href="#" class="link-light">{{correociaf}}</a></li>
                            <li><a href="#" class="link-light">314 340 0100 </a></li>
                            <li><a href="#" class="link-light">PQR</a></li>
                            <li><a href="#" class="link-light">Cra. 6 No. 24-56 Pereira</a></li>
                            <li><a href="#" class="link-light">CRAI - Calle 20#4-57 Pereira</a></li>

                        </div>
                        
                    </div>
                </div>
        
                <div class="col-xl-6 col-lg-12 pt-4 mt-4">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-12 redes_footer">
                            <h2 class="titulo-2 text-white pb-4">Síguenos</h2>

                            <a href="https://www.facebook.com/ComunidadCIAF" title="Facebook" target="_blank">
                            <img [src]="facebook" alt="Facebook">
                            </a>
                        
                            <a href="https://www.instagram.com/comunidadciaf/" title="Instagram" target="_blank">
                            <img [src]="instagram" alt="Instagram">
                            </a>


                            <a href="https://www.tiktok.com/@comunidadciaf?lang=es" title="TikTok" target="_blank">
                            <img [src]="tiktok" alt="tiktok">
                            </a>
                        
                            <a href="https://www.youtube.com/channel/UCf6j5NaZbDKkdNpAtzbs9zA" title="youtube" target="_blank">
                            <img [src]="youtube" alt="youtube">
                            </a>
                                
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-12 pt-4">
                            <p>CIAF Educación Superior SNIES 4825. <br>
                                Personería Jurídica Res. No.19348 Ministerio de Educación 19 de nov. de 1985 <br>
                                Institución de carácter Técnica Profesional redefinida por ciclos propedéuticos<br> 
                                Res. No.017652 Ministerio de Educación 08 de nov. de 2018
                            </p>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                            <div class="row vertical-align-center">
                                <div class="col-xl-3 col-lg-3 col-md-3 col-12 logo text-center pb-xl-0 pb-lg-0 pb-md-2 pb-3">
                                    <img [src]="logo_blanco" alt="Ubicación CIAF">
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-12 text-center logo-creatividad">
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                            <div class="content">
                                                <div class="content__container">
                                                    <span class="content__container__text">
                                                        <img [src]="creatividad" alt="Ubicación CIAF"> 
                                                      </span>
                                                  <ul class="content__container__list">
                                                    
                                                    <li class="content__container__list__item">Creatividad</li>
                                                    <li class="content__container__list__item">para un mundo</li>
                                                    <li class="content__container__list__item">en Evolución</li>
                                                    <li class="content__container__list__item">Súmate al parche</li>
                                                  </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-2 col-12 text-center pt-xl-0 pt-lg-0 pt-md-2 pt-4">
                                    <img [src]="vigilada" alt="Ubicación CIAF">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-12">
                    <hr>
                </div>
                <div class="col-xl-12 text-center small">
                    Copyright © 2022 Todos los derechos reservados | CIAF educación superior
                </div>

            </div>

        </div>
    </div>
 </footer>
 