header .icono img{
    width: 20px;
    margin-left: 5px;
}

.custom-file-upload {
    display: inline-block;
    padding: 9px 15px;
    cursor: pointer;
    background-color:rgba(0,21,80,0.3)!important;
    color: white;
    border-radius: 5px 0px 0px 5px;
    width: 250px;
  }
  
  .custom-file-upload:hover {
    background-color: #212529;
  }