<!-- Formulario de registro -->
<div class="row  mt-4">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12 ">
        <div class="row justify-content-center">

            <div class="col-xl-12 col-lg-12 col-md-12 col-12">

                <div class="row justify-content-center ">
                    <div class="col-12">
                        
                            <img [src]="banner_r" alt="Imprime tu futuro" width="100%">
                       
                    </div>
                    <div class="col-12 mtop-4">
                        <div class="row justify-content-center">
                            <div class="col-xl-6 text-center">
                                <p class="text-1 fs-48 lh-40">Transformamos vidas a través de la educación. Y sabemos que tú puedes ser parte de ese cambio</p>
                            </div>
                        </div>
                    </div>



                    <div class="col-12">

                       <div class="row justify-content-center">
                         <!-- Bootstrap contenedor -->

                            <div class="col-xl-3 col-lg-4 col-md-5 col-11">
                                <div class="row">
                                    <div class="col-12 titulo-como-funciona text-white text-center  fs-42 lh-36 py-4">
                                        ¿Cómo <br> funciona?
                                    </div>
                                    <div class="col-12 p-4 how-it-works border rounded-bottom">

                                        <ol class="pasos-circulares fs-20 lh-20">
                                            <li>Registra a tu referido llenando el formulario.</li>
                                            <li>Asegúrate de que se inscriba y empiece clases en CIAF.</li>
                                            <li>Recibe incentivos por cada nivel académico que finalice:</li>
                                        </ol>



                                        <div class="col-12 mx-4">
                                            <ul class="text-1 fs-24 ">
                                                <li><span class="fw-bold">Inicia Clases </span><br>$300.000*</li>
                                                <li><span class="fw-bold">Finaliza Nivel Técnico </span><br>$600.000*</li>
                                                <li><span class="fw-bold">Finaliza Tecnólogo </span><br>$900.000*</li>
                                                <li><span class="fw-bold">Cumple su meta como Profesional </span><br>$1.200.000*</li>
                                            </ul>
                                        </div>
                                         
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-1 col-lg-1 col-md-1 col-12 py-4"></div>

                            <div class="col-xl-4 col-lg-5 col-md-5 col-11 border rounded-5">

                                <form class="row text-1 justify-content-center" [formGroup]="myForm" (ngSubmit)="agregar()">

                                    <div class="col-12 text-center py-3">
                                        <h2 class="titulo-degradado text-center fs-36 fw-bold">Referente</h2>
                                    </div>

                                    <div class="col-xl-10 col-12 text-1 p-2">
                                        <div class="row ">
                                            <div class="col-12 p-2">
                                                <label class="form-label fs-24">* Nombre completo</label>
                                                <div class="input-group mb-3 input-group-lg">
                                                    <input matInput type="text" class=" form-line-input" name="nombre_r"  formControlName="nombre_r" required>
                                                </div>
                                                <div *ngFor="let validation of account_validation_messages.nombre_r">
                                                    <div class="error-message" *ngIf="myForm.get('nombre_r')?.hasError(validation.type) && (myForm.get('nombre_r')?.dirty || myForm.get('nombre_r')?.touched)">{{validation.message}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 p-2">
                                                <label class="form-label fs-24">* Celular</label>
                                                <div class="input-group mb-3 input-group-lg">
                                                
                                                    <input matInput type="text" class=" form-line-input" aria-label="celular_r" aria-describedby="basic-addon1" required="" name="celular_r"  formControlName="celular_r" #celular pattern="[1-9]\d{6,10}">
                                                </div>
                                                <div *ngFor="let validation of account_validation_messages.celular_r">
                                                    <div class="error-message p-2" *ngIf="myForm.get('celular_r')?.hasError(validation.type) && (myForm.get('celular_r')?.dirty || myForm.get('celular_r')?.touched)">{{validation.message}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 p-2">
                                                <label class="form-label fs-24 pb-3">* Cargo</label>
                                                <div class="input-group mb-3 input-group-lg">
                                                    <div class="fs-18">
                                                        <div class="form-check" *ngFor="let relacion of cargos">
                                                            <input class="form-check-input" type="radio" name="relacion" [value]="relacion.valor" formControlName="relacion">
                                                            <label class="form-check-label">{{ relacion.texto }}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>


                                    <div class="col-12 text-center py-3">
                                        <h2 class="titulo-degradado text-center fs-36 fw-bold">Referido</h2>
                                    </div>

                       

                                    <div class="col-xl-10 col-12 p-2">
                                         <label class="form-label fs-24">* Nombre completo</label>
                                        <div class="input-group mb-3 input-group-lg">
                                                <input matInput type="text" class="form-line-input" name="nombre"  formControlName="nombre" required>
                                        </div>
                                        <div *ngFor="let validation of account_validation_messages.nombre">
                                            <div class="error-message" *ngIf="myForm.get('nombre')?.hasError(validation.type) && (myForm.get('nombre')?.dirty || myForm.get('nombre')?.touched)">{{validation.message}}
                                            </div>
                                        </div>
                                    </div>
                    
                                    <div class="col-xl-10 col-12 p-2">
                                         <label class="form-label fs-24">* Celular</label>
                                        <div class="input-group mb-3 input-group-lg">
                                            
                                            <input matInput type="text" class="form-line-input" aria-label="celular" aria-describedby="basic-addon1" required="" name="celular"  formControlName="celular" #celular pattern="[1-9]\d{6,10}">
                                        </div>
                                        <div *ngFor="let validation of account_validation_messages.celular">
                                            <div class="error-message p-2" *ngIf="myForm.get('celular')?.hasError(validation.type) && (myForm.get('celular')?.dirty || myForm.get('celular')?.touched)">{{validation.message}}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-10 col-12 p-2">
                                         <label class="form-label fs-24 pb-3">* Programa de interés</label>
                                        <div class="input-group mb-3 input-group-lg">
                                            <div class="fs-18">
                                                <div class="form-check" *ngFor="let programa of programas">
                                                    <input class="form-check-input" type="radio" name="fo_programa" [value]="programa.valor" formControlName="fo_programa">
                                                    <label class="form-check-label">{{ programa.texto }}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-10 col-12 p-2">
                                         <label class="form-label fs-24 pb-3">* Jornada</label>
                                        <div class="input-group mb-3 input-group-lg">
                                            <div class="fs-18">
                                                <div class="form-check" *ngFor="let jornada of jornadas">
                                                    <input class="form-check-input" type="radio" name="jornada_e" [value]="jornada.valor" formControlName="jornada_e">
                                                    <label class="form-check-label">{{ jornada.texto }}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                      


                                    <div class="col-xl-10 col-12 bg-form-ref p-2 mt-4">
                                        <div class="row ">
                                
                                        
                                            <div class="col-12 p-2 ">
                                                <input class="form-check-input " type="checkbox" value="" id="flexCheckDefault" formControlName="acepto" name="acepto">
                                                Acepto el envío de información a mi correo electrónico. He revisado las <a routerLink="/tratamientodatos" target="_blank">Políticas de protección de Datos </a> y <a href="https://ciaf.edu.co/assets/referidos/terminosycondiciones.pdf" target="_blank">  Términos condiciones</a>.
                                            </div>
                                                
                                            
                                        </div>
                                    </div>



                                    <div *ngFor="let validation of account_validation_messages.terms">
                                        <div class="error-message" *ngIf="myForm.get('acepto')?.hasError(validation.type) && (myForm.get('acepto')?.dirty || myForm.get('acepto')?.touched)">{{validation.message}}
                                        </div>
                                    </div>
                                    <div class="col-xl-8 col-8 text-center pb-4">
                                        <button type="submit" class="btn bg-1 btn-lg text-white btn-enviar fs-24" [disabled]="!myForm.valid">Enviar</button>
                                        
                                    </div>
                                </form>

                            </div>

                            <div class="col-xl-12 col-lg-12 col-md-12 col-12 p-4"></div>

                       </div>

                    </div>

                    

                </div>
                
            </div>

        </div>
    </div>

</div>
<!-- ******************************** -->
