<section class="pb-4 bg-1 text-white">
    <div class="row justify-content-center">
        <div class="col-xl-12 my-4 py-4">
            <h2 class="text-center text-white fs-56 py-4 mt-4">Impacto social </h2>
        </div>
        <div class="col-xl-10 col-lg-10 col-md-10 col-10 py-4 my-4">
          <div *ngIf="counters.length > 0">
              <div class="row text-center">
                  <div class="col-lg-3 col-md-6 col-12 lh-20">
                      <img [src]="'assets/image/d-financiacion.webp'">
                      <div class="counter fs-48 fw-bold mt-4" #counter [attr.data-target]="counters[0].target"> + {{ counters[0].value }}M<span class="fs-18">(Millones)</span></div>
                      <div class="mt-3 fs-36">Financiación</div>
                  </div>
                  
                  <div class="col-lg-3 col-md-6 col-12 lh-20">
                      <img [src]="'assets/image/d-becas.webp'">
                      <div class="counter fs-48 fw-bold mt-4" #counter [attr.data-target]="counters[1].target"> + {{ counters[1].value }}M<span class="fs-18">(Millones)</span></div>
                      <div class="mt-3 fs-36">Becas</div>
                  </div>
              
                  <div class="col-lg-3 col-md-6 col-12 lh-20">
                      <img [src]="'assets/image/d-financiados.webp'">
                      <div class="counter fs-48 fw-bold mt-4" #counter [attr.data-target]="counters[2].target"> + {{ counters[2].value }}</div>
                      <div class="mt-3 fs-36">Créditos</div>
                  </div>
              
                  <div class="col-lg-3 col-md-6 col-12 lh-20">
                      <img [src]="'assets/image/d-egresados.webp'">
                      <div class="counter fs-48 fw-bold mt-4" #counter [attr.data-target]="counters[3].target"> + {{ counters[3].value }}</div>
                      <div class="mt-3 fs-36">Egresados</div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>



