<section>
    <div class="row banner-interno">
       <div class="col-xl-12 col-lg-12 col-md-12 col-12 pc">
            <img src="{{bienestar_pc}}" alt="Administración de empresas">
       </div>
       <div class="col-xl-12 col-lg-12 col-md-12 col-12 movil">
        <img src="{{bienestar_m}}" alt="Administración de empresas">
   </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-12 banner-contenido">
            <div class="row justify-content-center vertical-align-center">
            
                <div class="col-xl-10 col-lg-10 col-md-10 col-12 padding-bienestar">
                    <div class="row justify-content-center vertical-align-center">
                        <div class="col-xl-6 col-lg-8 col-md-9 col-9 text-white">
                            <h1 class="text-center bolder-1">BIENESTAR</h1>
                            
                            <p class="lema text-center"> Un parche lleno de experiencias </p>
                        </div>
                        <div class="col-xl-6 col-lg-4 col-md-3 col-2 text-white"></div>
                    </div>
                </div>

                <div class="col-xl-12 col-lg-12 col-md-12 col-12 pt-4">

                    <div class="row d-flex justify-content-center">
                        <div class="col-xl-11 col-lg-11 col-md-11 col-9 wrap-programas">
                
                            <div class="col-xl-12 col-lg-12 col-md-12 col-12 bg-opciones superior">
                                <div class="row text-center small text-white justify-content-center">    
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-4"><a href="" class="btn btn-sm text-white">Política de Bienestar</a></div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-4"><a href="" class="btn btn-sm text-white">Programa ¡Quédate!</a></div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-4"><a href="" class="btn btn-sm text-white">Cartilla Estudiantil</a></div>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-12 p-0">
                                <div class="row tabs" ng-init="inicioAlgo()">
                                    <a (click)="paginas('1')" class="col-xl-2 col-lg-2 col-md-2 col-4" (click)="activo='1'" [ngClass] = "activo=='1'  ?  'active'  :  ''">
                                        Salud y vida
                                    </a>
                                    <a (click)="paginas('2')" class="col-xl-2 col-lg-2 col-md-2 col-4" (click)="activo='2'" [ngClass] = "activo=='2'  ?  'active'  :  ''">
                                        Recreación y Deportes
                                    </a>
                                    <a (click)="paginas('3')" class="col-xl-2 col-lg-2 col-md-2 col-4" (click)="activo='3'" [ngClass] = "activo=='3'  ?  'active'  :  ''">
                                        Arte y Cultura
                                    </a>
                                    <a (click)="paginas('4')" class="col-xl-2 col-lg-2 col-md-2 col-4" (click)="activo='4'" [ngClass] = "activo=='4'  ?  'active'  :  ''">
                                        Desarrollo Humano
                                    </a>
                                    <a (click)="paginas('5')" class="col-xl-2 col-lg-2 col-md-2 col-4" (click)="activo='4'" [ngClass] = "activo=='4'  ?  'active'  :  ''">
                                        Promoción Socioeconómica
                                    </a>
                                    <a (click)="paginas('6')" class="col-xl-2 col-lg-2 col-md-2 col-4" (click)="activo='4'" [ngClass] = "activo=='4'  ?  'active'  :  ''">
                                        Meta: graduación
                                    </a>
                                </div>
                            </div>
                
                        </div>
                    </div>

                </div>

            </div>
        </div>
    
    </div>
</section>




<section class="p-0 m-0">
    <div id="content-programa">

        <div id="pag-ini" *ngIf="isValid0">


            <section class="pt-xl-4 pt-lg-4 pt-md-0 pt-0 mt-xl-4 mt-lg-4 mt-md-0 mt-0">
                <div class="row justify-content-center">
                    <div class="col-xl-12 mb-4 pb-4">
                        <h2 class="titulo-2 text-center">Experiencias que transforman </h2>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-10">
                        <button (click)="prevImg()" class="boton-prev"><img src="{{prev}}" alt ="Anterior"></button>
                        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" responsive="breakpoints">
                            <div ngxSlickItem *ngFor="let imagenes of imagenesExperiencias" class="slide">
                                
                                <img src="{{ imagenes.imagen }}" alt="" width="100%">
                                <div class="nombre-calidad"><span>{{imagenes.titulo}}</span></div>
            
            
                            </div>
                        </ngx-slick-carousel>
                        <button (click)="nextImg()" class="boton-next"><img src="{{next}}" alt="Siguiente"></button>
                    </div>
                </div>
            </section>



            <section class="pt-4 mt-4">
                <div class="row d-flex justify-content-center bg-1">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-12 py-4 my-4"></div>

                    <div class="col-xl-4 col-lg-12 col-md-12 col-12 text-center p-2">
                        <div class="row justify-content-center vertical-align-center">
                            <div class="col-xl-12 col-lg-6 col-md-5 col-10">
                                <iframe width="100%" height="315" src="https://www.youtube.com/embed/gFLxr7VFB3A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="video-programa"></iframe>
                    
                            </div>
                            <div class="col-xl-10 col-lg-4 col-md-5 col-10 text-center py-4">
                                <img src="{{parche}}" alt="Simate al parche" width="80%">
                            </div>
                        </div>
                    </div>


                            
                    <div class="col-xl-3 col-lg-5 col-md-5 col-10 p-2">
                        <div class="row parche">
                            <img src="{{quedate}}" alt="Financiación 0% interes" width="100%">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-12 parche-contenido ">
                                <div class="row justify-content-center vertical-align-bottom h-100 text-center">
                                    <div class="col-xl-8">
                                        <h2 class="text-white tamano-2 text-3"> ¡Quédate! </h2>
                                        <p class="text-white">Programa de permanencia y graduación</p>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 text-white py-4">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                                Labore doloremque eveniet at blanditiis. Deleniti harum, 
                                asperiores quam, maiores... <a href="" class="btn btn-link btn-sm">Ver más </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-5 p-2 col-md-5 col-10">
                        <div class="row parche">
                            <img src="{{inspiradores}}" alt="Financiación 0% interes" width="100%">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-12 parche-contenido ">
                                <div class="row justify-content-center vertical-align-bottom h-100 text-center">
                                    <div class="col-xl-8">
                                        <h2 class="text-white fs-1 text-3"> ¡Inspiradores! </h2>
                                        <p class="text-white">Programa de integración familiar</p>
                                    </div>
                                </div>
                                
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-12 text-white py-4">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                                Labore doloremque eveniet at blanditiis. Deleniti harum, 
                                asperiores quam, maiores... <a href="" class="btn btn-link btn-sm">Ver más </a>
                            </div>
                        </div>

                    </div>
                    
                </div>

            </section>

        </div>

        <div id="pag-one" *ngIf="isValid1">

            <div class="row justify-content-center">
                <div class="col-xl-12 my-4 py-4 text-center">
                    <h2 class="titulo-2 text-3"> Salud </h2>
                    <h3 class="text-1">Para CIAF... Texto pendiente...</h3>
                </div>
            </div>
            
            <div class="col-xl-12 col-lg-12 colmd-12 col-12">
                <div class="row b-interno">
                    <img src="{{b_salud}}" alt="Financiación 0% interes">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-12 b-contenido ">
                       <div class="row justify-content-center vertical-align-center h-100 text-center">
                            <div class="col-xl-8 col-lg-8 col-md-9 col-10">
                                <p class="text-white">Las experiencias de nuestra comunidad CIAF estan representadas en una permanente interacción y empoderamiento de toda la comunidad.</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

        </div>



        <section class="pt-xl-4 pt-lg-4 pt-md-0 pt-0 mt-xl-4 mt-lg-4 mt-md-0 mt-0">
            <div class="row justify-content-center">
                <div class="col-xl-12 mb-4 pb-4">
                    <h2 class="titulo-2 text-center">¿Qué está pasando en este parche? </h2>
                </div>
                <div class="col-xl-10 col-lg-10 col-md-10 col-10">
                    <button (click)="prevImg()" class="boton-prev"><img src="{{prev}}" alt ="Anterior"></button>
                    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" responsive="breakpoints">
                        <div ngxSlickItem *ngFor="let datos of listarInstagram index as i" class="slide p-4">
                        <p>{{datos.media_type}}</p>  
                        <video class="pages-media" controls>
                            <source src="{{datos.media_url}}">
                        </video>
                        <p><img src="{{datos.thumbnail_url}}" width="100%"></p>
                        <p>{{datos.like_count}} likes</p>
                        <p>{{datos.comments_count}}</p>
                        <p>{{datos.timestamp| date:"d MMM"}}</p>
                        <p>{{datos.username}} {{datos.caption}}</p>
                       
        
        
                        </div>
                    </ngx-slick-carousel>
                    <button (click)="nextImg()" class="boton-next"><img src="{{next}}" alt="Siguiente"></button>
                </div>
            </div>
        </section>


        <app-eventos></app-eventos>






    </div>
</section>