<section>
    <div class="row justify-content-center">
        <div class="col-xl-8 ">
            <h1 class="text-1 py-4 text-center">Tratamiento de datos</h1>
            <p class="text-justify">La Corporación Instituto de Administración y Finanzas CIAF, 
                garantiza que en el Tratamiento de datos personales que no 
                tengan la naturaleza de públicos, mantiene la reserva de la información, 
                inclusive después de nalizada su relación con alguna de las labores que comprende el Tratamiento, 
                pudiendo sólo realizar suministro o comunicación de datos personales cuando ello corresponda 
                al desarrollo de las actividades autorizadas por la Ley o por el titular de la información 
                y en los términos señalados en dichas autorizaciones.
            </p>
            
        </div>
        <div class="col-6 py-4 text-center">
           <div class="row">
                <div class="col-6">
                    <a href="https://ciaf.digital/public/web_tratamiento_datos/ley266habeasdata.pdf" target="_blank"> 
                        <img [src]="ico_pdf" width="100px" height="100px" alt="descargar PDF"><br>
                        <span class="btn">LEY 1266 de Habeas Data</span>
                    </a>
                    
                </div>
                <div class="col-6">
                    <a href="https://ciaf.digital/public/web_tratamiento_datos/politicaciaf_tratamientodatos.pdf" target="_blank"> 
                        <img [src]="ico_pdf" width="100px" height="100px" alt="descargar PDF"><br>
                       <span class="btn"> Política tratamiento de datos</span>
                    </a>
                </div>
           </div>
        </div>
    </div>
</section>
