<section>
    <div class="row banner-interno">
       <div class="col-xl-12 col-lg-12 col-md-12 col-12 pc">
            <img src="{{bg_pc}}" alt="Administración de empresas">
       </div>
       <div class="col-xl-12 col-lg-12 col-md-12 col-12 movil">
        <img src="{{bg_m}}" alt="Administración de empresas">
   </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-12 banner-contenido">
            <div class="row justify-content-center vertical-align-center">
            
                <div class="col-xxl-10 col-xl-10 col-lg-10 col-md-10 col-12 padding-titulo">
                    <div class="row justify-content-center vertical-align-center">
                        <div class="col-xl-6 col-lg-8 col-md-9 col-9 text-white">
                            <h1 class="text-center bolder-1">Conoce tu Institución</h1>
                            
                            <p class="lema text-center"> Te damos la bienvenida a la <span class="bolder-1">comunidad CIAF</span> </p>
                        </div>
                        <div class="col-xl-6 col-lg-4 col-md-3 col-2 text-white"></div>
                    </div>
                </div>

                <div class="col-xxl-11 col-xl-12 col-lg-12 col-md-12 col-12 pt-4">

                    <div class="row d-flex justify-content-center">
                        <div class="col-xl-11 col-lg-11 col-md-11 col-10 wrap-programas">
                
                            <div class="col-xl-12 col-lg-12 col-md-12 col-10 bg-software superior">
                                <div class="row text-center small text-white">    
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-12"><b><a href="https://ciaf.digital/public/web_normativa/PEI-CIAF-Educacion-Superior.pdf" target="blank" class="btn btn-sm text-white"> Nuestro Proyecto Educativo</a></b></div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-12"><b><a data-bs-toggle="modal" data-bs-target="#modalreglamento" target="blank" class="btn btn-sm text-white"> Reglamentos</a></b></div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-12"><b><a href="https://heyzine.com/flip-book/5103846eb8.html" target="blank" class="btn btn-sm text-white"> Rendición de Cuentas</a></b></div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-12"><b><a href="https://heyzine.com/flip-book/1d8f8e3e05.html" target="blank" class="btn btn-sm text-white">Memorias Institucionales</a></b></div>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-12 p-0 d-xl-block d-lg-block d-md-none d-none">
                                <div class="row tabs" ng-init="inicioAlgo()">
                                    <a (click)="paginas('1')" class="col-xl-3 col-lg-3 col-md-3 col-3" (click)="activo='1'" [ngClass] = "activo=='1'  ?  'active'  :  ''" id="btn-1">
                                        Quienes Somos
                                    </a>
                                    <a (click)="paginas('2')" class="col-xl-3 col-lg-3 col-md-3 col-3" (click)="activo='2'" [ngClass] = "activo=='2'  ?  'active'  :  ''" id="btn-2">
                                        Direcionamiento Estratégico
                                    </a>
                                    <a (click)="paginas('3')" class="col-xl-3 col-lg-3 col-md-3 col-3" (click)="activo='3'" [ngClass] = "activo=='3'  ?  'active'  :  ''" id="btn-3">
                                        Consejo Superior y Funcionarios
                                    </a>
                                    <a href="https://ciaf.digital/cv/vistas/login.html" target="_blank" class="col-xl-3 col-lg-3 col-md-3 col-3">
                                        Trabaja con Nosotros
                                    </a>

                                </div>
                            </div>
                
                        </div>
                    </div>

                </div>

            </div>
        </div>
    
    </div>
</section>


<section class="p-0 m-0">
    <div id="content-programa">

        <div id="pag-one" *ngIf="isValid1">


            <section class="pt-xl-4 pt-lg-4 pt-md-0 pt-0 mt-xl-4 mt-lg-4 mt-md-0 mt-0">
                <div class="row justify-content-center">
                    <div class="col-xl-12 mb-4 pb-4">
                        <h2 class="titulo-2 text-center">Quienes Somos </h2>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-10 col-10 p-4">
                        <p class="text-justify">
                            CIAF es una Institución de Educación Superior privada, de carácter técnica profesional, 
                            redefinida por ciclos propedéuticos, reconocida como tal a través de la 
                            Resolución No. 17652 del 8 de noviembre de 2018, cuyo lugar de desarrollo es Pereira (Risaralda).
                        </p>
                        <p class="text-justify">
                            CIAF para responder a las demandas del mundo 4,0, formando profesionales altamente calificados. 
                            Por lo tanto, inicia un proceso de implementación de creatividad e innovación en sus procesos 
                            a través de los programas institucionales, compilados en nuestras 
                            <a href="https://heyzine.com/flip-book/97549097a8.html" target="_blank" class="btn btn-link">
                                memorias institucionales. 
                            </a>
                        </p>
                        <p class="text-justify">
                            Nuestra Institución, cuyo centro de su misión son los estudiantes o seres originales, 
                            tiene como Propósito Superior: “Despertar pasión en los seres humano para transformar sus vidas”, 
                            convirtiendo los procesos académicos y administrativos en Experiencias, 
                            que se construyen día a día con los inspiradores, influencers, empresas amigas, 
                            programas institucionales que se describen a continuación, desde la perspectiva del 
                            cumplimiento de la normatividad vigente.
                        </p>
                        
                    </div>
                    <div class="col-xl-4 col-lg-5 col-md-10 col-10 p-4 text-center">
                        <iframe [src]="total" width="100%" height="350" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen ></iframe>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-10 text-right py-4">
                        <a (click)="paginas('2')" class="btn" (click)="activo='2'">
                            Direccionamiento Estratégico
                            <img src="{{next}}" alt="boton siguiente">
                        </a>
                    </div>
                </div>
            </section>

        </div>

        <div id="pag-two" *ngIf="isValid2">


            <section class="pt-xl-4 pt-lg-4 pt-md-0 pt-0 mt-xl-4 mt-lg-4 mt-md-0 mt-0">
                <div class="row justify-content-center">
                    <div class="col-xl-12 mb-4 pb-4">
                        <h2 class="titulo-2 text-center">Direccionamiento Estratégico </h2>
                    </div>
                    <div class="col-xl-5 col-lg-10 col-md-10 col-10 p-4">
                        <h3 class="text-1">MISIÓN:</h3>
                        <p class="text-justify">
                            CIAF es una Institución de Educación Superior que tiene la misión de formar personas 
                            creativas e innovadoras a través de educación permanente, programas profesionales 
                            universitarios por ciclos y especializaciones, para conectar con las necesidades de las 
                            organizaciones y el Estado generando desarrollo consciente.
                        </p>
                        <h3 class="text-1">VISIÓN:</h3>
                        <p class="text-justify">
                            Para el 2030 CIAF será una institución de educación superior reconocida en la sociedad por su 
                            creatividad e innovación en todos sus procesos académicos, administrativos y estratégicos.
                        </p>
                        <h3 class="text-1">PRINCIPIOS RECTORES:</h3>
                        <p class="text-justify">
                            Son 4 los principios que CIAF define como su gran valor: 
                            relacionados con el estudiante, los docentes, los empleados y los graduados.
                        </p>
                        <ol type="a">
                            <li>
                                El estudiante: El estudiante es el centro de la misión, respetar al estudiante es cumplirle 
                                la promesa hecha al acceder a la institución.
                            </li>
                            <li>
                                El docente es la persona a través de la cual CIAF cumple su promesa con el estudiante, 
                                Ciaf seleccionará y cualificará a sus docentes para que tengan las herramientas para conectar 
                                con el estudiante, para que sean creativos e innovadores.
                            </li>
                            <li>
                                Los colaboradores son el equipo que complementa la labor docente y que sirve a los estudiantes 
                                para brindarles bienestar y lograr brindar una educación integral y de calidad.
                            </li>
                            <li>
                                Los graduados son la imagen de la formación impartida por CIAF en nuestra sociedad, es el aporte 
                                que hace la institución a la sociedad, a través de profesionales altamente calificados, con ética y sensibilidad social.
                            </li>
                        </ol>
                        
                    </div>
                    <div class="col-xl-5 col-lg-10 col-md-10 col-10 p-4 text-center">
                        <img [src]="organigrama" alt="Aqeuipo que inspira" width="90%" height="auto">
                    </div>

                    <div class="col-xl-5 col-lg-5 col-mb-5 col-5  py-4">
                        <a (click)="paginas('1')" class="btn" (click)="activo='1'">
                            <img src="{{prev}}" alt="boton siguiente"> 
                            Quienes Somos
                        </a>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-5 col-5 text-right py-4">
                        <a (click)="paginas('3')" class="btn" (click)="activo='3'">
                            Consejo Superior y Funcionarios
                            <img src="{{next}}" alt="boton siguiente">
                        </a>
                    </div>


                    
                </div>
            </section>

        </div>

        <div id="pag-three" *ngIf="isValid3">


            <section class="pt-xl-4 pt-lg-4 pt-md-0 pt-0 mt-xl-4 mt-lg-4 mt-md-0 mt-0">
                <div class="row justify-content-center">
                    <div class="col-xl-12 mb-4 pb-4">
                        <h2 class="titulo-2 text-center bolder-1">Consejo Superior y Funcionarios </h2>
                    </div>
                    <div class="col-xl-4 col-lg-10 col-md-10 col-10 p-4">
                        <h3 class="text-1">CONSEJO SUPERIOR</h3>
                        <p class="text-justify">
                            Máximo órgano de gobierno de CIAF, integrado por miembros activos, 
                            miembros honorarios e invitados especialmente. Encargados principalmente de:
                        </p>
                            <ol>
                                <li>Fijar y velar por el cumplimiento de las normas de carácter general para el funcionamiento de la Institución.</li>
                                <li>Aprobar el presupuesto anual y vigilar que los recursos sean empleados correctamente.</li>
                                <li>Aprobar la creación, suspensión o supresión de programas académicos.</li>
                                <li>Autorizar y ratificar la celebración de contratos o convenios con otras instituciones</li>
                            </ol>

                    </div>
                    <div class="col-xl-5 col-lg-10 col-md-10 col-10 p-4 text-center">
                        <img [src]="colaboradores" alt="Equipo que inspira" width="90%" height="auto">
                    </div>
                    
                    <div class="col-10 text-center">
                        <p class="titulo-2 pb-4 bolder-1">Equipo que Inspira</p>
                    </div>

                    <div class="col-xxl-5 mb-4 pb-4 p-4 "> 
                        <div class="row ani-1">
                            <div class="col-12">
                                <img [src]="img_li_ok" alt="icono" class="pe-3" > <span class="text-1 bolder-1 fs-5">Presidente Consejo Superior</span>
                            </div>
                            <div class="col-12 text-1">
                                <div class="ps-4 ms-4">
                                    Gina Marcela Barreto Moreno<br>
                                    gina.barreto@ciaf.edu.co
                                </div>
                            </div>

                            <div class="col-12">
                                <img [src]="img_li_ok" alt="icono" class="pe-3" > <span class="text-1 bolder-1 fs-5">Secretario General</span>
                            </div>
                            <div class="col-12 text-1">
                                <div class="ps-4 ms-4">
                                    Jairo Rodríguez Valderrama<br>
                                    secretariagnral@ciaf.edu.co
                                </div>
                            </div>

                            <div class="col-12">
                                <img [src]="img_li_ok" alt="icono" class="pe-3" > <span class="text-1 bolder-1 fs-5">Revisora Fiscal</span>
                            </div>
                            <div class="col-12 text-1">
                                <div class="ps-4 ms-4">
                                    Andrea Forero<br>
                                    andrea.forero@ciaf.edu.co
                                </div>
                            </div>

                            <div class="col-12">
                                <img [src]="img_li_ok" alt="icono" class="pe-3" > <span class="text-1 bolder-1 fs-5">Rectora</span>
                            </div>
                            <div class="col-12 text-1">
                                <div class="ps-4 ms-4">
                                    Gina Marcela Barreto Moreno<br>
                                    gina.barreto@ciaf.edu.co
                                </div>
                            </div>

                            <div class="col-12">
                                <img [src]="img_li_ok" alt="icono" class="pe-3" > <span class="text-1 bolder-1 fs-5">Director SAC (Sistema de aseguramiento de calidad)</span>
                            </div>
                            <div class="col-12 text-1">
                                <div class="ps-4 ms-4">
                                    Alejandro Muñoz<br>
                                    sac@ciaf.edu.co
                                </div>
                            </div>

                            <div class="col-12">
                                <img [src]="img_li_ok" alt="icono" class="pe-3" > <span class="text-1 bolder-1 fs-5">Director de Investigaciones e Innovación</span>
                            </div>
                            <div class="col-12 text-1">
                                <div class="ps-4 ms-4">
                                    Luis Ariosto Serna Cardona<br>
                                    luis.serna@ciaf.edu.co
                                </div>
                            </div>

                            <div class="col-12">
                                <img [src]="img_li_ok" alt="icono" class="pe-3" > <span class="text-1 bolder-1 fs-5">Director Programa Administración de Empresas</span>
                            </div>
                            <div class="col-12 text-1">
                                <div class="ps-4 ms-4">
                                    Alexander Valencia<br>
                                    alexander.valencia@ciaf.edu.co
                                </div>
                            </div>

                            <div class="col-12">
                                <img [src]="img_li_ok" alt="icono" class="pe-3" > <span class="text-1 bolder-1 fs-5">Director Programa de Contaduría</span>
                            </div>
                            <div class="col-12 text-1">
                                <div class="ps-4 ms-4">
                                    Nilson Valencia Reina<br>
                                    nilson.valencia@ciaf.edu.co
                                </div>
                            </div>

                            <div class="col-12">
                                <img [src]="img_li_ok" alt="icono" class="pe-3" > <span class="text-1 bolder-1 fs-5">Director Programa de Ingeniería</span>
                            </div>
                            <div class="col-12 text-1">
                                <div class="ps-4 ms-4">
                                    Luis Ariosto Serna Cardona<br>
                                    luis.serna@ciaf.edu.co
                                </div>
                            </div>

                            <div class="col-12">
                                <img [src]="img_li_ok" alt="icono" class="pe-3" > <span class="text-1 bolder-1 fs-5">Director Programa Seguridad y Salud en el Trabajo</span>
                            </div>
                            <div class="col-12 text-1">
                                <div class="ps-4 ms-4">
                                    Ivan Tabares Ocampo<br>
                                    ivan.tabares@ciaf.edu.co
                                </div>
                            </div>

                            <div class="col-12">
                                <img [src]="img_li_ok" alt="icono" class="pe-3" > <span class="text-1 bolder-1 fs-5">Director Administrativo y Financiero</span>
                            </div>
                            <div class="col-12 text-1">
                                <div class="ps-4 ms-4">
                                    Juan Manuel Vallejo Vargas<br>
                                    juan.vallejo@ciaf.edu.co
                                </div>
                            </div>

                            <div class="col-12">
                                <img [src]="img_li_ok" alt="icono" class="pe-3" > <span class="text-1 bolder-1 fs-5">Director Sistemas de Información</span>
                            </div>
                            <div class="col-12 text-1">
                                <div class="ps-4 ms-4">
                                    Julián Arlig Jiménez López<br>
                                    sistemasdeinformacion@ciaf.edu.co
                                </div>
                            </div>

                            <div class="col-12">
                                <img [src]="img_li_ok" alt="icono" class="pe-3" > <span class="text-1 bolder-1 fs-5">Directora de extensión </span>
                            </div>
                            <div class="col-12 text-1">
                                <div class="ps-4 ms-4">
                                    Leidy Johana López Márquez <br>
                                    sistemasdeinformacion@ciaf.edu.co
                                </div>
                            </div>

                            <div class="col-12">
                                <img [src]="img_li_ok" alt="icono" class="pe-3" > <span class="text-1 bolder-1 fs-5">Coordinadoras Académicas</span>
                            </div>
                            <div class="col-12 text-1">
                                <div class="ps-4 ms-4">
                                    Paula Andrea Rengifo Briñez<br>
                                    paula.rengifo@ciaf.edu.co
                                </div>
                                <div class="ps-4 ms-4 pt-3">
                                    Nathalia Sandoval Castaño<br>
                                    nathalia.sandoval@ciaf.edu.co
                                </div>
                                <div class="ps-4 ms-4 pt-3">
                                    Yenny Alejandra Restrepo Uribe<br>
                                    yenny.restrepo@ciaf.edu.co
                                </div>
                                <div class="ps-4 ms-4 pt-3">
                                    Rosalba Loaiza<br>
                                    rosa.loaiza@ciaf.edu.co
                                </div>
                            </div>

                            
                            <div class="col-12">
                                <img [src]="img_li_ok" alt="icono" class="pe-3" > <span class="text-1 bolder-1 fs-5">Coordinador centro de idiomas </span>
                            </div>
                            <div class="col-12 text-1">
                                <div class="ps-4 ms-4">
                                    Coordinador centro de idiomas <br>
                                    orlando.sanchez@ciaf.edu.co
                                </div>
                            </div>

                            <div class="col-12">
                                <img [src]="img_li_ok" alt="icono" class="pe-3" > <span class="text-1 bolder-1 fs-5">Coordinadora de Bienestar Institucional</span>
                            </div>
                            <div class="col-12 text-1">
                                <div class="ps-4 ms-4">
                                    Natalia Cárdenas<br>
                                   natalia.cardenas@ciaf.edu.co
                                </div>
                            </div>

                            <div class="col-12">
                                <img [src]="img_li_ok" alt="icono" class="pe-3" > <span class="text-1 bolder-1 fs-5">Coordinadora de extensión </span>
                            </div>
                            <div class="col-12 text-1">
                                <div class="ps-4 ms-4">
                                    Mónica Johanna Díaz Castaño<br>
                                    coordinacion.extension@ciaf.edu.co
                                </div>
                            </div>

                            <div class="col-12">
                                <img [src]="img_li_ok" alt="icono" class="pe-3" > <span class="text-1 bolder-1 fs-5">Coordinador Audiovisuales</span>
                            </div>
                            <div class="col-12 text-1">
                                <div class="ps-4 ms-4">
                                    Francisco Benitez<br>
                                    francisco.benitez@ciaf.edu.co
                                </div>
                            </div>

                        

                        </div>
                    </div>

                    <div class="col-xxl-5 mb-4 pb-4 p-4 "> 
                        <div class="row ani-1">
                            

                            <div class="col-12">
                                <img [src]="img_li_ok" alt="icono" class="pe-3" > <span class="text-1 bolder-1 fs-5">Contadoras</span>
                            </div>
                            <div class="col-12 text-1">
                                <div class="ps-4 ms-4">
                                    Denys Yaneth Niño Mahecha<br>
                                    denys.nino@ciaf.edu.co
                                </div>
                                <div class="ps-4 ms-4 pt-4">
                                    Claudia Osorio Duque<br>
                                    claudia.osorio@ciaf.edu.co
                                </div>
                            </div>
                            
                            <div class="col-12">
                                <img [src]="img_li_ok" alt="icono" class="pe-3" > <span class="text-1 bolder-1 fs-5">Coordinadora Administrativa</span>
                            </div>
                            <div class="col-12 text-1">
                                <div class="ps-4 ms-4">
                                    Sandra Milena Franco Chavez<br>
                                    area.administrativa@ciaf.edu.co
                                </div>
                            </div>

                            <div class="col-12">
                                <img [src]="img_li_ok" alt="icono" class="pe-3" > <span class="text-1 bolder-1 fs-5">Coordinador de Registro y Control</span>
                            </div>
                            <div class="col-12 text-1">
                                <div class="ps-4 ms-4">
                                    Wilbert René Ramírez Delgado<br>
                                    registroycontrol@ciaf.edu.co
                                </div>
                            </div>


                            <div class="col-12">
                                <img [src]="img_li_ok" alt="icono" class="pe-3" > <span class="text-1 bolder-1 fs-5">Coordinador Técnico de Sistemas</span>
                            </div>
                            <div class="col-12 text-1">
                                <div class="ps-4 ms-4">
                                    Ferney Benitez<br>
                                    sistemas@ciaf.edu.co
                                </div>
                            </div>

                            

                            <div class="col-12">
                                <img [src]="img_li_ok" alt="icono" class="pe-3" > <span class="text-1 bolder-1 fs-5">Coordinador Sistemas de Información</span>
                            </div>
                            <div class="col-12 text-1">
                                <div class="ps-4 ms-4">
                                    David González Manrique<br>
                                    david.gonzalez@ciaf.edu.co
                                </div>
                            </div>

                            <div class="col-12">
                                <img [src]="img_li_ok" alt="icono" class="pe-3" > <span class="text-1 bolder-1 fs-5">Auxiliar Sistemas de Información</span>
                            </div>
                            <div class="col-12 text-1">
                                <div class="ps-4 ms-4 pt-3">
                                    Jaime Andrés Pérez Londoño<br>
                                    ja.perez30@ciaf.edu.co
                                </div>
                            </div>


                            <div class="col-12">
                                <img [src]="img_li_ok" alt="icono" class="pe-3" > <span class="text-1 bolder-1 fs-5">Auxiliar Administrativo</span>
                            </div>
                            <div class="col-12 text-1">
                                <div class="ps-4 ms-4">
                                    Olga Yuliet Restrepo Uribe<br>
                                    yuliet.restrepo@ciaf.edu.co
                                </div>
                            </div>

                            <div class="col-12">
                                <img [src]="img_li_ok" alt="icono" class="pe-3" > <span class="text-1 bolder-1 fs-5">Auxiliar diseño grafico</span>
                            </div>
                            <div class="col-12 text-1">
                                <div class="ps-4 ms-4">
                                    Juan Sebastián Delgado Arias<br>
                                    sebastian.delgado@ciaf.edu.co
                                </div>
                            </div>
                            
                            <div class="col-12">
                                <img [src]="img_li_ok" alt="icono" class="pe-3" > <span class="text-1 bolder-1 fs-5">Auxiliar Educativo</span>
                            </div>
                            <div class="col-12 text-1">
                                <div class="ps-4 ms-4">
                                    Carolina Ochoa González<br>
                                    carolina.ochoa@ciaf.edu.co
                                </div>
                                <div class="ps-4 ms-4 pt-3">
                                    Anyi Dahiana Arias Arenas<br>
                                    anyi.arias@ciaf.edu.co
                                </div>
                                <div class="ps-4 ms-4 pt-3">
                                    Juan Diego Henao Urrego<br>
                                    Juan.henao@ciaf.edu.co
                                </div>
                                <div class="ps-4 ms-4 pt-3">
                                    David Alexander Henao Jimenez<br>
                                    david.henao@ciaf.edu.co
                                </div>
                            </div>

                            <div class="col-12">
                                <img [src]="img_li_ok" alt="icono" class="pe-3" > <span class="text-1 bolder-1 fs-5">Asistente de Bienestar Institucional</span>
                            </div>
                            <div class="col-12 text-1">
                                <div class="ps-4 ms-4">
                                    Luisa María Ramírez Tangarife<br>
                                    bienestar@ciaf.edu.co
                                </div>
                            </div>

                            <div class="col-12">
                                <img [src]="img_li_ok" alt="icono" class="pe-3" > <span class="text-1 bolder-1 fs-5">Asistente de Sistemas de Información</span>
                            </div>
                            <div class="col-12 text-1">
                                <div class="ps-4 ms-4">
                                    camila Londoño<br>
                                    camila.londono@ciaf.edu.co
                                </div>
                            </div>


                            <div class="col-12">
                                <img [src]="img_li_ok" alt="icono" class="pe-3" > <span class="text-1 bolder-1 fs-5">Servicios Generales</span>
                            </div>
                            <div class="col-12 text-1">
                                <div class="ps-4 ms-4">
                                    Gladys Ramírez Marín<br>
                                    serviciosgenerales@ciaf.edu.co
                                </div>
                            </div>

                            <div class="col-12">
                                <img [src]="img_li_ok" alt="icono" class="pe-3" > <span class="text-1 bolder-1 fs-5">Auxiliar Servicios Generales</span>
                            </div>
                            <div class="col-12 text-1">
                                <div class="ps-4 ms-4">
                                    Anderson Adalberto Zapata<br>
                                    serviciosgenerales@ciaf.edu.co
                                </div>

                            </div>

                        

                        </div>
                    </div>



                    <div class="col-xl-10 col-lg-10 col-mb-10 col-11  py-4">
                        <a (click)="paginas('2')" class="btn" (click)="activo='2'">
                            <img src="{{prev}}" alt="boton siguiente"> 
                            Direcionamiento Estratégico
                        </a>
                    </div>



                    
                </div>
            </section>

        </div>
    </div>
</section>



<!-- Normatividad -->

<section class="pt-4 mt-4 mostrar">
    <div class="row justify-content-center">

        <div class="col-xl-12 col-lg-12 col-mb-12 col-12 mb-4 pb-4">
            <h2 class="titulo-2 text-center">Normatividad</h2>
        </div>
        

        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-12">

            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" responsive="breakpoints">
                <div ngxSlickItem *ngFor="let listareglamento of reglamentos index as i" class="slide">
                    <div class="col-xl-12 bg-1 card-pos-creatividad">
                    
                       <div class="row img-pos">
                            <div class="col-12 text-center ">
                                <img src="{{listareglamento.imagen}}" alt="Vitrina de empredimientos" width="90px" height="90px" class="text-center">
                                
                            </div>
                            <div *ngIf="listareglamento.estado==1" class=" text-center">
                                <a href="{{listareglamento.link}}" target="_blank" class="btn btn-xs">
                                    
                                    <p class="titulo-creatividad">{{listareglamento.titulo}}</p>
                                </a>
                            </div>
                            <div *ngIf="listareglamento.estado==2" class=" text-center">
                                <a  data-bs-toggle="modal" href="{{listareglamento.modal}}" class="btn btn-xs">
                                    
                                    <p class="titulo-creatividad">{{listareglamento.titulo}}</p>
                                </a>
                            </div>
                       </div>

                        <div *ngIf="i>0" class="border-card"></div>
                    </div>


                </div>
            </ngx-slick-carousel>
           
        </div>

    </div>
</section>

<div class="row">
    <div class="col-12 p-4"></div>
</div>




<div class="row m-menu bg-2">

    <div class="col-xl-3 col-lg-3 col-md-3 col-3">
        <div class="pt-1" id="btn-1-1">
            <a class="text-center" (click)="paginas('1')" (click)="activo='1'" [ngClass] = "activo=='1'  ?  'active-m'  :  ''" >
                <div class="col-12">
                    <img [src]="quienes_somos" alt="Quienes somos">
                </div>
                <div class="col-12">
                    <p>Quienes <br>el Somos</p>
                </div>
            </a>
        </div>
    </div>

    <div class="col-xl-3 col-lg-3 col-md-3 col-3">
        <div class="pt-1" id="btn-2-1">
            <a class="text-center" (click)="paginas('2')" (click)="activo='2'" [ngClass] = "activo=='2'  ?  'active-m'  :  ''" >
                <div class="col-12">
                    <img [src]="estrategico" alt="Direccionamiento Estrategico">
                </div>
                <div class="col-12">
                    <p>Direccionamiento <br>eEstratégico</p>
                </div>
            </a>
        </div>
    </div>

    <div class="col-xl-3 col-lg-3 col-md-3 col-3">
        <div class="pt-1" id="btn-3-1">
            <a class="text-center" (click)="paginas('3')" (click)="activo='3'" [ngClass] = "activo=='3'  ?  'active-m'  :  ''" >
                <div class="col-12">
                    <img [src]="funcionarios" alt="Consejo superior y funcionarios">
                </div>
                <div class="col-12">
                    <p>Consejo Superior <br>y Funcionarios</p>
                </div>
            </a>
        </div>
    </div>

    <div class="col-xl-3 col-lg-3 col-md-3 col-3">
        <div class="pt-1" id="btn-4-1">
            <a class="text-center" href="https://ciaf.digital/cv/vistas/login.html" target="_blank">
                <div class="col-12">
                    <img [src]="trabaja_nosotros" alt="Trabaja con Nosotros">
                </div>
                <div class="col-12">
                    <p>Trabaja <br>con Nosotros</p>
                </div>
            </a>
        </div>
    </div>








</div>


<!-- Modal plan estratégico-->
<div class="modal fade" id="modalplanestrategico" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-6" id="exampleModalLabel">Conoce nuestro PLAN ESTRATÉGICO 2022 - 2030.</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h3 class="fs-6"></h3>
          <div class="row">
            <div class="col-12">
                
                <a href="https://ciaf.digital/public/web_normativa/Acuerdo-de-aprobación-del-ajuste-del-plan-estratégico.pdf" target="_blank" class="btn btn-sm text-primary">
                    <img [src]="ico_pdf" title="Icono PDF" width="30px" height="24px">  Acuerdo de aprobación del ajuste del plan estratégico
                 </a>
            </div>
            <div class="col-12">
                
                <a href="https://ciaf.digital/public/web_normativa/plan_estrategico_final_preliminar.pdf" target="_blank" class="btn btn-sm text-primary">
                    <img [src]="ico_pdf" title="Icono PDF" width="30px" height="24px">  Ajuste al plan estratégico 2019-2030
                 </a>
            </div>
          </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal pecuniarios-->
<div class="modal fade" id="modalpecuniarios" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-6" id="exampleModalLabel">Derechos Pecuniarios</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h3 class="fs-6"></h3>
          <div class="row">
            <div class="col-12">
                <a href="https://ciaf.digital/public/web_pecuniarios/acuerdo_derechos_pecuaniarios_2015.pdf" target="_blank" class="btn btn-sm text-primary">
                    <img [src]="ico_pdf" title="Icono PDF" width="30px" height="24px">  Derechos Pecuniarios 2015
                 </a>
            </div>
            <div class="col-12">
                <a href="https://ciaf.digital/public/web_pecuniarios/acuerdo_derechos_pecuniarios_2016.pdf" target="_blank" class="btn btn-sm text-primary">
                    <img [src]="ico_pdf" title="Icono PDF" width="30px" height="24px">  Derechos Pecuniarios 2016
                 </a>
            </div>
            <div class="col-12">
                <a href="https://ciaf.digital/public/web_pecuniarios/acuerdon04de2016.docx" target="_blank" class="btn btn-sm text-primary">
                    <img [src]="ico_pdf" title="Icono PDF" width="30px" height="24px">  Derechos Pecuniarios 2017
                 </a>
            </div>
            <div class="col-12">
                <a href="https://ciaf.digital/public/web_pecuniarios/acuerdo_derechos_pecuniarios_2018.pdf" target="_blank" class="btn btn-sm text-primary">
                    <img [src]="ico_pdf" title="Icono PDF" width="30px" height="24px">  Derechos Pecuniarios 2018
                 </a>
            </div>
            <div class="col-12">
                <a href="https://ciaf.digital/public/web_pecuniarios/acuerdo_derechos_pecuniarios_2019.pdf" target="_blank" class="btn btn-sm text-primary">
                    <img [src]="ico_pdf" title="Icono PDF" width="30px" height="24px">  Derechos Pecuniarios 2019
                 </a>
            </div>
            <div class="col-12">
                <a href="https://ciaf.digital/public/web_pecuniarios/Acuerdo17derechospecuniarios2020.pdf" target="_blank" class="btn btn-sm text-primary">
                    <img [src]="ico_pdf" title="Icono PDF" width="30px" height="24px">  Derechos Pecuniarios 2020
                 </a>
            </div>
            <div class="col-12">
                <a href="https://ciaf.digital/public/web_pecuniarios/Acuerdo17derechospecuniarios2021.pdf" target="_blank" class="btn btn-sm text-primary">
                    <img [src]="ico_pdf" title="Icono PDF" width="30px" height="24px">  Derechos Pecuniarios 2021
                 </a>
            </div>
            <div class="col-12">
                <a href="https://ciaf.digital/public/web_pecuniarios/Acuerdo17derechospecuniarios20202.pdf" target="_blank" class="btn btn-sm text-primary">
                    <img [src]="ico_pdf" title="Icono PDF" width="30px" height="24px">  Derechos Pecuniarios 20202
                 </a>
            </div>
            <div class="col-12">
                <a href="https://ciaf.digital/public/web_pecuniarios/acuerdo-08-derechos-pecuniarios-2022.pdf" target="_blank" class="btn btn-sm text-primary">
                    <img [src]="ico_pdf" title="Icono PDF" width="30px" height="24px">  Derechos Pecuniarios 2022
                 </a>
            </div>
            <div class="col-12">
                <a href="https://ciaf.digital/public/web_pecuniarios/acuerdo-06-derechos-pecuniarios-2023.pdf" target="_blank" class="btn btn-sm text-primary">
                    <img [src]="ico_pdf" title="Icono PDF" width="30px" height="24px"> Derechos Pecuniarios 2023
                 </a>
            </div>
            <div class="col-12">
                <a href="https://ciaf.digital/public/web_pecuniarios/acuerdo-06-derechos_pecuniarios_2024.pdf" target="_blank" class="btn btn-sm text-primary">
                    <img [src]="ico_pdf" title="Icono PDF" width="30px" height="24px"> Derechos Pecuniarios 2024
                 </a>
            </div>
            <div class="col-12">
                <a href="https://ciaf.digital/public/web_pecuniarios/acuerdo-06-derechos_pecuniarios_2025.pdf" target="_blank" class="btn btn-sm text-primary">
                    <img [src]="ico_pdf" title="Icono PDF" width="30px" height="24px"> Derechos Pecuniarios 2025
                 </a>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modalsst-->
<div class="modal fade" id="modalsst" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-6" id="exampleModalLabel">SST - SEGURIDAD Y SALUD EN EL TRABAJO - CIAF</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h3 class="fs-6"></h3>
          <div class="row justify-content-center">
            <div *ngFor="let listarsst of sstnormativa index as i" class="col-xxl-2 col-lg-2 col-md-4 col-4 text-center pb-4">
                <img src="{{listarsst.imagen}}" width="120px">
            </div>
            <div class="ol-xxl-10 col-xl-10 col-lg-10 col-md-12 col-12">
                <p>La CORPORACIÓN INSTITUTO DE ADMINISTRACIÓN Y FINANZAS - CIAF, 
                en su Sistema de Gestión de la Seguridad y Salud en el Trabajo ha definido los siguientes 
                Objetivos estratégicos los cuales definen las estrategias de intervención en SST de la organización, 
                buscando la seguridad de sus operaciones:</p>
                <ul class="small">
                    <li>Implementar un sistema de gestión integrado “seguridad y salud en el trabajo y ambiental”, cumpliendo con los requisitos legales y normativos aplicables y la gestión de aspectos e impactos ambientales.</li>
                    <li>Prevenir todo daño para la salud de los trabajadores y partes interesadas, interviniendo los peligros y riesgos que puedan generar enfermedades laborales y accidentes de trabajo.</li>
                    <li>Contribuir al cumplimiento de los objetivos estratégicos de la Organización.</li>
                    <li>Mejorar y mantener las condiciones de trabajo garantizando la eficiencia y eficacia de los procesos.</li>
                    <li>Intervenir e impactar el ausentismo general de la empresa.</li>
                    <li>Garantizar la identificación, intervención, y recuperación en caso de Emergencias y/o contingencias.</li>
                    <li>Fortalecer el talento humano para la prevención de riesgos, generando conciencia hacia el autocuidado.</li>
                    <li>Propiciar espacios de participación activa de los colaboradores, en procura del mejoramiento continuo de las condiciones de seguridad y salud en el trabajo.</li>
                    <li>Minimizar el riesgo jurídico y financiero de la Empresa velando por la continuidad de la operación en el largo plazo.</li>
                </ul>
            </div>
            <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-12">
                
                <a href="https://ciaf.digital/public/web_normativa/POLITICA-INTEGRADA-DE-SISTEMAS-DE-GESTION.pdf" target="_blank" class="btn btn-sm text-primary">
                    <img [src]="ico_pdf" title="Icono PDF" width="30px" height="24px">  Politica Integrada del Sistema de Gestión
                 </a>
            </div>
            <div class="ol-xxl-12 col-xl-12 col-lg-12 col-md-12 col-12">
                
                <a href="https://ciaf.digital/public/web_normativa/SISTEMA-DE-GESTIÓN-DE-LA-SEGURIDAD-Y-SALUD-EN-EL-TRABAJO.pdf" target="_blank" class="btn btn-sm text-primary">
                    <img [src]="ico_pdf" title="Icono PDF" width="30px" height="24px">  Sistema de gestión de la seguridad y salud en el trabajo
                 </a>
            </div>
          </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>


<!-- Modal reglamentos-->
<div class="modal fade" id="modalreglamento" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-6" id="exampleModalLabel">Reglamentos</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            <div *ngFor="let datos_cate of listarCategorias index as i" class="">
                <h2 class="fs-6">{{datos_cate.categoria_reglamento}}</h2>

                <!-- {{ this.hola(datos_cate.categoria_reglamento) }} -->
                
                <div *ngFor="let datos_reg of listarReglamentos index as j" class="" >
                    <div *ngIf="datos_reg.id_categoria_reglamento==datos_cate.id_categoria_reglamento">
                        <a href="https://ciaf.digital/public/web_reglamentos/{{datos_reg.url_reglamento}}" target="_blank" class="btn btn-sm">
                            <img [src]="ico_pdf" width="18px" height="18px" alt="descargar PDF"> {{datos_reg.nombre_reglamento}}
                        </a>
                    </div>
                </div>
               

            </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
