.bg-software{
	background-color: rgba(0,97,168,0.8);
}

.bg-sem1{
	background: linear-gradient(180deg, #93A8D8 9.07%, #6C81BF 80.95%);
}

.bg-sem2{
	background: linear-gradient(180deg, #6C81BF 11.32%, #697FBE 34.07%, #5F78BB 52.75%, #4D6DB5 69.94%, #3F64B0 80.41%);
}
.bg-sem3{
	background: linear-gradient(180deg, #3F64B0 2.93%, #3B62AF 23.62%, #305EAC 43.59%, #1C56A7 63.22%, #024CA0 82.07%);
}
.bg-sem4{
	background: linear-gradient(180deg, #024CA0 7.53%, #054DA0 20.52%, #0F50A2 31.2%, #2155A4 41.05%, #395CA7 50.42%, #5865AB 59.44%, #7E71AF 68.19%, #AB7EB5 76.58%, #C686B8 81.07%);
}

.bg-sem5{
	background: linear-gradient(180deg, #C686B8 3.34%, #C583B7 28.99%, #C279B2 50.06%, #BD67AB 69.43%, #BB61A8 75.05%);
}
.bg-sem6{
	background: linear-gradient(180deg, #BB61A8 27.05%, #B95DA6 48.06%, #B4519F 69.11%, #B24B9B 76.34%);
}
.bg-sem7{
	background: linear-gradient(180deg, #B24B9B 42.81%, #B44B9A 56.8%, #BD4A98 64.83%, #CB4995 71.35%, #DE4890 77.07%, #F8468A 82.21%, #FF4688 83.4%);
}

.bg-sem8{
	background: linear-gradient(180deg, #FF4688 57.95%, #FB3A7F 61.9%, #F52B74 69%, #F2236E 77.46%, #F1206C 90.62%);
}
.bg-sem9{
	background: linear-gradient(180deg, #F1206C 23.49%, #C00B53 81.82%);
}
.bg-sem10{
	background-color: #C00B53;
}

/* conocel el plan */
.conoceplan{
	display: block;
}

.conoceplan p{
	font-size: 20px;
}
.conoceplan .semestre{
	border-radius: 6px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	text-align: center;
}

.conoceplan .desplegar{
	margin-top: -3px;
}
.conoceplan .materia{
	padding: 25px 8px;
	transition: all 1s;
	cursor:pointer;
	color: #fff;
	font-family: "fuente2";
}
.conoceplan .materia:hover{
	background-color: #98A6D5;
}

.financiacion-interno{
    position: relative;
    display: inline-block;
	margin: 0px;
	
}


.financiacion-interno .financiacion-contenido{
    position:absolute;
    width: 100%;
    height: 100%;
    top:0px;
	background-color: rgba(121, 171, 58, 0.8);
	display: block;
}


.financiacion-interno .financiacion-contenido p{
 	font-size: 50px;
 	line-height: 50px;
}
.border-right-1{
	border-right: 3px solid #79AB3A;
}
.border-bottom-1{
	border-bottom: 6px solid #79AB3A;
	
}

.alto-card-financiacion{
	height: 300px;
	
}
.numero-financiacion{
	font-size: 90px;
	z-index: 1;
	padding-left: 5px;
	
}
/* ***************************** */

.m-menu {
    display: none;
    height: 50px;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 4;
}

.m-menu a {
    text-decoration: none !important;
}
.m-menu a p{
    color: #fff;
    font-size: 10px !important;
    padding: 0px;
    margin: 0px;
    text-decoration: none !important;
	line-height: 10px;
}

.m-menu img {
	width: 26px;
}
.active-m{
	background-color: #5a802d !important;
	height: 100%;
}
@media(max-width:768px){
	.bg-software{
		background-color: rgba(0,97,168,1);
	}
    .m-menu {
        display: block;
        display: flex;
    }

}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

	.m-menu {
		display: block;
		display: flex;
		height: 55px;
		overflow: hidden;
	}
}