<section>
    <div class="row banner-interno">
       <div class="col-xl-12 col-lg-12 col-md-12 col-12 pc">
            <img src="{{logo_pc}}" alt="Egresados">
       </div>
       <div class="col-xl-12 col-lg-12 col-md-12 col-12 movil">
        <img src="{{logo_m}}" alt="Egresados">
   </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-12 banner-contenido">
            <div class="row justify-content-center vertical-align-center">
            
                <div class="col-xxl-10 col-xl-10 col-lg-10 col-md-10 col-12 padding-sac">
                    <div class="row justify-content-center vertical-align-center">
                        <div class="col-xl-6 col-lg-8 col-md-9 col-9 text-white">
                            <h1 class="text-center bolder-1">SAC</h1>
                            
                            <p class="lema text-center"> Sistema de Aseguramiento de la Calidad</p>
                        </div>
                        <div class="col-xl-6 col-lg-4 col-md-3 col-2 text-white"></div>
                    </div>
                </div>

    

                <div class="col-xxl-11 col-xl-12 col-lg-12 col-md-12 col-12 pt-4">

                    <div class="row d-flex justify-content-center">
                        <div class="col-xl-11 col-lg-11 col-md-11 col-10 wrap-programas">
                
                            <div class="col-xl-12 col-lg-12 col-md-12 col-10 bg-software superior">
                                <div class="row text-center small text-white">    
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-10"><a href="" class="btn btn-sm text-white">Acuerdo No. 11 de dic 28 de 2018</a></div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-10"><a href="https://ciaf.digital/public/web_reglamentos/Acuerdo-13-de-2019.pdf" target="_blank" class="btn btn-sm text-white">Política de Autoevaluación Institucional</a></div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-10"><a href="https://ciaf.digital/public/web_reglamentos/modelo_autoevaluacion.pdf" target="_blank" class="btn btn-sm text-white">Autoevaluación y Autoregulación</a></div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-10"><a href="#" target="_blank" class="btn btn-sm text-white">Plan Estratégico</a></div>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-12 p-0 d-xl-block d-lg-block d-md-none d-none">
                                <div class="row tabs" ng-init="inicioAlgo()">
                                    <a (click)="paginas('1')" class="col-xl-4 col-lg-3 col-md-2 col-4" (click)="activo='1'" [ngClass] = "activo=='1'  ?  'active'  :  ''" id="btn-1">
                                        SAC
                                    </a>

                                    <a (click)="paginas('3')" class="col-xl-4 col-lg-5 col-md-2 col-4 lh-1" (click)="activo='3'" [ngClass] = "activo=='3'  ?  'active'  :  ''" id="btn-3">
                                        Modelo de Autoevaluación y de Programas Académicos
                                    </a>
                                    <a (click)="paginas('4')" class="col-xl-4 col-lg-4 col-md-2 col-4" (click)="activo='4'" [ngClass] = "activo=='4'  ?  'active'  :  ''" id="btn-4">
                                        Monitoreando la Experiencia
                                    </a>

                                </div>
                            </div>
                
                        </div>
                    </div>

                </div>

            </div>
        </div>
    
    </div>
</section>


<section class="p-0 m-0">
    <div id="content-programa">

        <div id="pag-ini" *ngIf="isValid1">
            <section class="pt-xl-4 pt-lg-4 pt-md-0 pt-0 mt-xl-4 mt-lg-4 mt-md-0 mt-0">
                <div class="row justify-content-center">
                    <div class="col-xxl-10 mb-4 pb-4">
                        <h2 class="titulo-2 text-center bolder-1">Un Parche Lleno de Calidad </h2>
                    </div>
                    
                    <div class="col-xl-10 col-lg-10 col-md-10 col-11">
                        <div class="row justify-content-center">
                            <div class="col-xxl-5 col-xl-5 col-lg-6 mb-4 pb-4 p-4">
                              
                                <p class="text-justify">
                                    Sistema de Aseguramiento de la Calidad SAC, 
                                    es la estructura que permite la interacción orientada a la <b class="bolder-1 text-3">calidad</b> 
                                    y el establecimiento de una cultura de mejoramiento continuo en 
                                    el desarrollo, garantizando que se cumpla el <b class="bolder-1 text-3">sueño</b> de ser una institucion de educación superior
                                    líder en la <b class="bolder-1 text-3">creatividad e innovación</b> en todos sus procesos.
                                </p>
                                <p class="text-justify">
                                    El SAC articula los procesos de <b class="bolder-1 text-3">planeación, autoevaluación 
                                    y mejoramiento continuo</b> garantizando la coherencia entre los estandares
                                    de la Educación Superior, nuestro pensamiento institucional y nuestra visión al 2030.
                                </p>
                            </div>
                            <div class="col-xxl-5 col-xl-5 col-lg-6 mb-4 pb-4 text-center p-4"><img [src]="pensar_diferente" width="90%" alt="Un Parche Lleno de Calidad"></div>
                            <div class="col-xxl-5 col-xl-5 col-lg-6 mb-4 pb-4 text-center p-4"><img [src]="sac_queremos" width="90%" alt="Qué queremos con el SAC"></div>
                            <div class="col-xxl-5 col-xl-5 col-lg-6 mb-4 pb-4 p-4 vertical-align-center"> 
                               <div class="row">
                                    <div class="col-12">
                                        <h3 class="text-1 fs-1 pb-3">¿Cual es la Visión del SAC?</h3>
                                        <p class="text-justify">
                                            Para el año 2030, el SAC se consolidará a nivel institucional mediante 
                                            la cultura de <b class="bolder-1 text-3">compromiso, autoevaluación, 
                                            planeación, gestión y mejoramiento continuo</b> que dirija a CIAF a 
                                            mejorar sus condiciones institucionales.
                                        </p>
                                        <p class="text-justify">
                                            Por ello trabajamos <b class="bolder-1 text-3">diariamente</b> para <b class="bolder-1 text-3">fortalecer nuestra oferta académica</b> 
                                            en los diferentes niveles de educación superior (pregrado y postgrado) y educación para el trabajo y 
                                            desarrollo humano (técnicos laborales).
                                        </p>
                                    </div>
                               </div>
                            </div>
                            <div class="col-xxl-5 col-xl-5 col-lg-6 mb-4 pb-4 p-4 vertical-align-center"> 
                                <div class="row">
                                    <h3 class="text-1 fs-1 pb-3">Modelo de planeación y autoevaluación para el desarrollo del SAC. </h3>
                                    <p class="text-justify">
                                        Atendiendo a los cuatro ejes del Plan estratégico 2019-2030 
                                        <b class="bolder-1 text-3">“Creatividad para un mundo en evolución”</b>, hemos desarrollado una  
                                        metodología que nos  permite establecer, hacer seguimiento y mejorar 
                                        los compromisos, metas y acciones de mejoramiento.

                                    </p>
                                </div>
                                
                            </div>
                            <div class="col-xxl-5 col-xl-5 col-lg-6 mb-4 pb-4 text-center p-4"><img [src]="sac_planeacion" width="90%" alt="Modelo para la planeación"></div>
                            <div class="col-xxl-5 col-xl-5 col-lg-6 mb-4 pb-4 text-center p-4"><img [src]="sac_planeamos" width="90%" alt="Modelo para la planeación"></div>
                        
                            <div class="col-xxl-5 col-xl-5 col-lg-6 col-md-12 col-12 mb-4 pb-4 p-4 "> 
                                <h3 class="text-1 fs-1 pb-3">¿Cómo planeamos en CIAF? </h3>
                                <p class="text-justify">
                                    Nuestra planeación se constituye a partir de un mecanismo de 
                                    <b class="bolder-1 text-3">articulación entre procesos</b>. 
                                    Dicha articulación se logra a partir del trabajo colaborativo realizado 
                                    entre el área <b class="bolder-1 text-3">académica</b> y el área 
                                    <b class="bolder-1 text-3">administrativa</b>, realizando tareas establecidas, 
                                    que además, son visibles a través de tres importantes documentos: 
                                    Plan Estratégico Institucional, Plan Operativo Anual y Plan de Transición.  

                                </p>

                                <div class="row">
                                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-4">
                                        <a href="#" target="_blank" class="btn">
                                            <div class="row">
                                                <div class="col-12 text-center py-2">
                                                    <img [src]="icono_doc" alt="Descargar documento" width="80px" height="88px">
                                                </div>
                                                <div class="col-12 text-center lh-1 text-1">
                                                    Plan Estratégico<br>Institucional
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-4">
                                        <a href="#" target="_blank" class="btn">
                                            <div class="row">
                                                <div class="col-12 text-center py-2">
                                                    <img [src]="icono_doc" alt="Descargar documento" width="80px" height="88px">
                                                </div>
                                                <div class="col-12 text-center lh-1 text-1">
                                                    Plan Operativo<br>Anual
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-4">
                                        <a href="#" target="_blank" class="btn">
                                            <div class="row">
                                                <div class="col-12 text-center py-2">
                                                    <img [src]="icono_doc" alt="Descargar documento" width="80px" height="88px">
                                                </div>
                                                <div class="col-12 text-center lh-1 text-1">
                                                    Plan de<br>Transición
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                </div>

                            </div>
                        
                        
                        </div>
                        
                    </div>
                </div>
            </section>
        </div>

        <div id="pag-three" *ngIf="isValid3">
            <section class="pt-xl-4 pt-lg-4 pt-md-0 pt-0 mt-xl-4 mt-lg-4 mt-md-0 mt-0">
                <div class="row justify-content-center">
                    <div class="col-xxl-8 mb-4 pb-4">
                        <h2 class="titulo-2 text-center">MODELO DE AUTOEVALUACIÓN INSTITUCIONAL Y DE PROGRAMAS ACADÉMICOS </h2>
                    </div>
                    
                    <div class="col-xxl-7 col-lg-8 col-md-10 col-10">
                     <p class="text-justify">
                        El <b class="bolder-1 text-3">mejoramiento continuo</b> es nuestro principal 
                        objetivo; es por esta razón que hemos implementado un modelo de 
                        Autoevaluación Institucional que verifica constantemente los programas académicos, 
                        realizando permanentemente una <b class="bolder-1 text-3">retroalimentación</b> 
                        de los procesos académicos e institucionales.

                     </p>
                        
                    </div>
                    <div class="col-xxl-6 col-lg-10 col-md-10 col-10 p-4 text-center">
                        <img [src]="modelo_planeacion" width="90%" alt="Modelo de Planeación"><br>
                        <small>Fuente: Dirección del SAC- Elaboración propia</small>
                    </div>
                </div>
            </section>
        </div>

        <div id="pag-four" *ngIf="isValid4">
            <section class="pt-xl-4 pt-lg-4 pt-md-0 pt-0 mt-xl-4 mt-lg-4 mt-md-0 mt-0">
                <div class="row justify-content-center">
                    <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-12 mb-4 pb-4">
                        <h2 class="titulo-2 text-center">
                            MONITOREANDO LA EXPERIENCIA
                        </h2>
                    </div>

                    <div class="col-xl-10 col-lg-10 col-md-10 col-10">
                        <div class="row justify-content-center">
                            <div class="col-xxl-5 col-xl-5 col-lg-6 col-md-12 col-12 mb-4 pb-4 p-4 vertical-align-center">
                              <div class="row">
                                <div class="col-12">
                                    <p class="text-justify">
                                        El programa institucional <b class="bolder-1 text-3">"Monitoreando la Experiencia"</b>, 
                                        es una iniciativa que busca identificar el <b class="bolder-1 text-3">cumplimiento 
                                        de los compromisos</b> asumidos por cada dependencia y las metas 
                                        para cumplir el desarrollo del Plan Estratégico 2019-2030, 
                                        y definir las estrategias para el mejoramiento continuo de 
                                        los procesos académicos de CIAF, dentro del eje de la <b class="bolder-1 text-3">Cultura de la calidad</b>.
                                    </p>
                                    <p class="text-justify">
                                        Para lograrlo nos encargamos de construir diversas estrategias 
                                        que garantizarán el cumplimiento de estas metas mediante: 
                                        auditorías, visitas, formularios, entre otros. De esta manera, 
                                        seguimos <b class="bolder-1 text-3">fortaleciendo la calidad de nuestro modelo académico</b>.
                                    </p>
                                </div>
                              </div>
                                
                            </div>
                            <div class="col-xxl-5 col-xl-5 col-lg-6 col-md-12 col-12 mb-4 pb-4 text-center p-4 vertical-align-center">
                                <img [src]="sac_gestion" width="90%" alt="SAC Gestión">
                            </div>
                        </div>
                    </div>



                </div>
            </section>
        </div>

    </div>
</section>

<div class="row m-menu bg-2">

    <div class="col-xl-4 col-lg-4 col-md-4 col-4">
        <div class="pt-1" id="btn-1-1">
            <a class="text-center" (click)="paginas('1')" (click)="activo='1'" [ngClass] = "activo=='1'  ?  'active-m'  :  ''" >
                <div class="col-12">
                    <img src="assets/image/programas-m.webp" alt="carreras profesionales">
                </div>
                <div class="col-12">
                    <p>SAC<br> Sistema de Calidad</p>
                </div>
            </a>
        </div>
    </div>

    <div class="col-xl-4 col-lg-4 col-md-4 col-4">
        <div class="pt-1" id="btn-3-1">
            <a class="text-center" (click)="paginas('3')" (click)="activo='3'" [ngClass] = "activo=='3'  ?  'active-m'  :  ''" >
                <div class="col-12">
                    <img src="assets/image/programas-m.webp" alt="carreras profesionales">
                </div>
                <div class="col-12">
                    <p>Modelo de Autoevalución <br>y de Programas</p>
                </div>
            </a>
        </div>
    </div>

    <div class="col-xl-4 col-lg-4 col-md-4 col-4">
        <div class="pt-1" id="btn-4-1">
            <a class="text-center" (click)="paginas('4')" (click)="activo='4'" [ngClass] = "activo=='4'  ?  'active-m'  :  ''" >
                <div class="col-12">
                    <img src="assets/image/programas-m.webp" alt="carreras profesionales">
                </div>
                <div class="col-12">
                    <p>Monitoreando <br>la Experiencia</p>
                </div>
            </a>
        </div>
    </div>







</div>