<section>
    <div class="row banner-interno">
        <img src="{{ingenieria_sotfware}}" alt="">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12 banner-contenido">
            <div class="row justify-content-center">

                <div class="col-xl-10 padding">
                    <div class="row">
                        <div class="col-xl-6 text-white">
                            <h1 class="text-center">Contaduría <br>Pública</h1>
                            <p class="snies text-right">SNIES 108796</p>
                            <p class="lema text-center"> Gerente creativo e innovador  de empresas y emprendimientos </p>
                        </div>
                    </div>
                </div>

                <div class="col-xl-12 pt-4">

                    <div class="row d-flex justify-content-center">
                        <div class="col-xl-11 wrap-programas">
                
                            <div class="col-xl-12 bg-software superior">
                                <div class="row text-center small text-white">    
                                    <div class="col-xl-3"><b><i class="bi bi-hourglass"></i><b> Programa</b> profesional *</b></div>
                                    <div class="col-xl-3"><b><i class="bi bi-water"></i> Duración</b> 10 semestres</div>
                                    <div class="col-xl-3"><b><i class="bi bi-bookmark-heart"></i> Diferentes</b> Jornadas</div>
                                    <div class="col-xl-3"><b><i class="bi bi-code"></i> Modalidad</b> Presencial (PAT)</div>
                                </div>
                            </div>
                            <div class="col-xl-12 p-0">
                                <div class="row tabs" ng-init="inicioAlgo()">
                                    <a (click)="paginas('1')" (click)="activo='1'" class="col-xl-3" [ngClass] = "activo=='1'  ?  'active'  :  ''">
                                        Conoce elPrograma
                                    </a>
                                    <a (click)="paginas('2')" class="col-xl-3" (click)="activo='2'" [ngClass] = "activo=='2'  ?  'active'  :  ''">
                                        Plan de estudios
                                    </a>
                                    <a (click)="paginas('3')" class="col-xl-3" (click)="activo='3'" [ngClass] = "activo=='3'  ?  'active'  :  ''">
                                        Valores y financiación directa
                                    </a>
                                    <a (click)="paginas('4')" class="col-xl-3" (click)="activo='4'" [ngClass] = "activo=='4'  ?  'active'  :  ''">
                                        Inicia tu proceso de matrícula
                                    </a>
                                </div>
                            </div>
                
                        </div>
                    </div>



                </div>






            </div>
        </div>
    
         
    
    </div>
</section>

<section class="p-0 m-0">


    <div id="content-programa">

        <div id="pag-one" style="display:block">



            <div class="row d-flex justify-content-center">
                <div class="col-xl-12 col-lg-12 col-md-12 col-12 py-4 my-4"></div>

                <div class="col-xl-4">
                    <div class="row justify-content-center">
                        <div class="col-xl-10 pt-4">
                            <h2 class="titulo-2 pb-4">Propositivo, con capacidad de anticiparte y de crear oportunidades.</h2>
                            <p class="text-justify">
                                El programa profesional universitario en Administración de Empresas te formará 
                                como un líder con la capacidad de dirigir organizaciones para tomar decisiones 
                                administrativas, financieras, de mercadeo, de recursos humanos y utilizando herramientas 
                                tecnológicas que te permitirán alcanzar objetivos estratégicos.

                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 text-center">
                    <div class="row justify-content-center">
                        <div class="col-xl-10 pt-4">
                            <iframe width="100%" height="315" src="https://www.youtube.com/embed/gFLxr7VFB3A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="video-programa"></iframe>
                
                        </div>
                    </div>
                </div>

                <div class="col-12"></div>

                <div class="col-xl-4">
                    <div class="row justify-content-center">
                        <div class="col-xl-10 pt-4">
                            <img src="{{sotfware_pic}}" alt="Ingenieria de Software" width="100%">
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 ">
                    <div class="row justify-content-center">

                        <div class="col-xl-10 pt-4">
                            <h2 class="titulo-2">Desempéñate como:</h2>
                            <p class="p-2">
                                <img src="{{img_li}}" alt="desempeñate"> Gerenciar organizaciones de carácter privado y/o público.<br>
                                <img src="{{img_li}}" alt="desempeñate"> Gerenciar proyectos.<br>
                                <img src="{{img_li}}" alt="desempeñate"> Ser asesor y consultor de organizaciones empresariales.<br>
                                <img src="{{img_li}}" alt="desempeñate"> Dirigir áreas en las organizaciones.<br>
                                <img src="{{img_li}}" alt="desempeñate"> Dirigir la planeación estratégica, fijando planes, objetivos, metas, seguimiento y evaluación de los resultados de las empresas.<br>
                                <img src="{{img_li}}" alt="desempeñate"> Formular, presentar y evaluar proyectos de inversión.<br>
                                <img src="{{img_li}}" alt="desempeñate"> Dirigir su propio emprendimiento.<br>

                            </p>
                        </div>

                    </div>
                </div>

                <div class="col-xl-8 py-4 my-4"><hr></div>

                <div class="col-xl-10 text-center mt-4 pt-4 bg-6 rounded-4">
                    <div class="row justify-content-center">
                        <div class="col-xl-12 py-4 my-4">
                            <h2 class="titulo-2">Gradúate con Tres Títulos</h2>
                        </div>
                        <div class="col-xl-8 py-4">
                            <img src="{{niveles_software}}" alt="Tres Títulos" width="100%" class="py-4">
                        </div>
                    </div>
                   
                </div>

                <div class="col-xl-10 text-right py-4">
                    <a (click)="paginas('2')" class="btn" (click)="activo='2'">
                        Ve al plan de estudios
                        <img src="{{next}}" alt="boton siguiente">
                    </a>
                </div>

            </div> 

        </div><!-- cierra pagina uno -->

        <div id="pag-two" style="display:none">
            <div class="row d-flex justify-content-center">
                <div class="col-xl-10">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-12 py-4 my-4"></div>
                        
                        <div class="col-xl-10 py-4">
                            <div class="row">
                                <div class="col-xl-7">
                                    <h2 class="text-left">Ahora... descubre el plan de estudios</h2>
                                </div>
                                <div class="col-xl-4">
                                    <a href="" class="btn"> 
                                        <span class="asterisco">150 créditos</span><br>
                                        <img src="{{descargar}}" alt="boton siguiente">
                                    </a>
                                </div>
                            </div>
                        </div>


                        <div class="col-xl-12 col-lg-12 col-md-12 col-12 bg-6 rounded-3 py-4 my-4 conoceplan">

                            <div class="row justify-content-center">
                                <div class="col-xl-12 text-center">
                                    <h2 class="titulo-2 pt-4">Nivel 1: Técnico profesional en Programación de Software</h2>
                                    <p>Con capacidad para realizar aplicaciones en un ambiente y con herramientas específicas.</p>
                                </div>
                            <div class="col-xl-12  col-lg-12 col-md-12 col-12 py-4 my-4"></div>

                                <div class="col-xl-3">
                                    <div class="row d-flex justify-content-center">
                                        <div class="col-10 semestre p-0 m-0 bg-sem1">
                                            <div class="py-3 bg-white text-1">Semestre 1</div>
                                            <div class="desplegar"><img src="{{desplegar}}" alt="desplegar"></div>
                                            <div class="materia">Matemáticas I</div>
                                            <div class="materia">Proyecto de vida</div>
                                            <div class="materia">Teoría del conocimiento</div>
                                            <div class="materia">Lógica de programación</div>
                                            <div class="materia">Introducción a la informática</div>
                                            <div class="materia">Introducción a la Ingeniería de Software</div>
                                        </div>
                                        
                                    </div>
                                </div>

                                <div class="col-xl-3">
                                    <div class="row d-flex justify-content-center">
                                        <div class="col-10 semestre p-0 m-0 bg-sem2">
                                            <div class="py-3 bg-white text-1">Semestre 2</div>
                                            <div class="desplegar"><img src="{{desplegar}}" alt="desplegar"></div>
                                            <div class="materia">Matemáticas II</div>
                                            <div class="materia">Programación II </div>
                                            <div class="materia">Lecto-escritura</div>
                                            <div class="materia">Diseño WEB</div>
                                            <div class="materia">Metodología de la Investigación</div>
                                            <div class="materia">Pensamiento empresarial tendencias de emprendimiento</div>
                                            
                                        </div>
                                        
                                    </div>
                                </div>

                                <div class="col-xl-3">
                                    <div class="row d-flex justify-content-center">
                                        <div class="col-10 semestre p-0 m-0 bg-sem3">
                                            <div class="py-3 bg-white text-1">Semestre 3</div>
                                            <div class="desplegar"><img src="{{desplegar}}" alt="desplegar"></div>
                                            <div class="materia">Fisica I</div>
                                            <div class="materia">Estructura de datos </div>
                                            <div class="materia">Programación III</div>
                                            <div class="materia">Plan de negocios</div>
                                            <div class="materia">Herramientas multiplataformas redes I</div>
                                            <div class="materia">Cálculo multivariado</div>
                                        </div>
                                        
                                    </div>
                                </div>

                                <div class="col-xl-3">
                                    <div class="row d-flex justify-content-center">
                                        <div class="col-10 semestre p-0 m-0 bg-sem4">
                                            <div class="py-3 bg-white text-1">Semestre 4</div>
                                            <div class="desplegar"><img src="{{desplegar}}" alt="desplegar"></div>
                                            <div class="materia">Legislación</div>
                                            <div class="materia">Trabajo de grado</div>
                                            <div class="materia">Bases de datos I</div>
                                            <div class="materia">Algebra lineal</div>
                                            <div class="materia">Programación y servicios WEB </div>
                                            <div class="materia">Principios de la Ingeniería de Software</div>
                                        </div>
                                        
                                    </div>
                                </div>
        
                                
                                
        
                            </div>

                            <div class="row justify-content-center">
                                <div class="col-xl-12  col-lg-12 col-md-12 col-12 py-4 my-4"></div>

                                <div class="col-xl-12 text-center">
                                    <h2 class="titulo-2 pt-4 text-4">Nivel 2: Tecnología en Desarrollo de Software</h2>
                                    <p>Con capacidad para analizar, diseñar y desarrollar software.</p>
                                </div>
                            <div class="col-xl-12  col-lg-12 col-md-12 col-12 py-4 my-4"></div>

                                <div class="col-xl-3">
                                    <div class="row d-flex justify-content-center">
                                        <div class="col-10 semestre p-0 m-0 bg-sem5">
                                            <div class="py-3 bg-white text-1">Semestre 5</div>
                                            <div class="desplegar"><img src="{{desplegar}}" alt="desplegar"></div>
                                            <div class="materia">Matemáticas I</div>
                                            <div class="materia">Proyecto de vida</div>
                                            <div class="materia">Teoría del conocimiento</div>
                                            <div class="materia">Lógica de programación</div>
                                            <div class="materia">Introducción a la informática</div>
                                            <div class="materia">Introducción a la Ingeniería de Software</div>
                                        </div>
                                        
                                    </div>
                                </div>

                                <div class="col-xl-3">
                                    <div class="row d-flex justify-content-center">
                                        <div class="col-10 semestre p-0 m-0 bg-sem6">
                                            <div class="py-3 bg-white text-1">Semestre 6</div>
                                            <div class="desplegar"><img src="{{desplegar}}" alt="desplegar"></div>
                                            <div class="materia">Matemáticas II</div>
                                            <div class="materia">Programación II </div>
                                            <div class="materia">Lecto-escritura</div>
                                            <div class="materia">Diseño WEB</div>
                                            <div class="materia">Metodología de la Investigación</div>
                                            <div class="materia">Pensamiento empresarial tendencias de emprendimiento</div>
                                            
                                        </div>
                                        
                                    </div>
                                </div>

                                <div class="col-xl-3">
                                    <div class="row d-flex justify-content-center">
                                        <div class="col-10 semestre p-0 m-0 bg-sem7">
                                            <div class="py-3 bg-white text-1">Semestre 7</div>
                                            <div class="desplegar"><img src="{{desplegar}}" alt="desplegar"></div>
                                            <div class="materia">Fisica I</div>
                                            <div class="materia">Estructura de datos </div>
                                            <div class="materia">Programación III</div>
                                            <div class="materia">Plan de negocios</div>
                                            <div class="materia">Herramientas multiplataformas redes I</div>
                                            <div class="materia">Cálculo multivariado</div>
                                        </div>
                                        
                                    </div>
                                </div>
        
                            </div>

                            <div class="row justify-content-center">
                                <div class="col-xl-12  col-lg-12 col-md-12 col-12 py-4 my-4"></div>

                                <div class="col-xl-12 text-center">
                                    <h2 class="titulo-2 pt-4 text-5">Nivel 3: Profesional Universitario en Ingeniería de Software</h2>
                                    <p>Con capacidad para analizar, diseñar, desarrollar e implementar soluciones tecnológicas.</p>
                                </div>
                            <div class="col-xl-12  col-lg-12 col-md-12 col-12 py-4 my-4"></div>

                                <div class="col-xl-3">
                                    <div class="row d-flex justify-content-center">
                                        <div class="col-10 semestre p-0 m-0 bg-sem8">
                                            <div class="py-3 bg-white text-1">Semestre 8</div>
                                            <div class="desplegar"><img src="{{desplegar}}" alt="desplegar"></div>
                                            <div class="materia">Matemáticas I</div>
                                            <div class="materia">Proyecto de vida</div>
                                            <div class="materia">Teoría del conocimiento</div>
                                            <div class="materia">Lógica de programación</div>
                                            <div class="materia">Introducción a la informática</div>
                                            <div class="materia">Introducción a la Ingeniería de Software</div>
                                        </div>
                                        
                                    </div>
                                </div>

                                <div class="col-xl-3">
                                    <div class="row d-flex justify-content-center">
                                        <div class="col-10 semestre p-0 m-0 bg-sem9">
                                            <div class="py-3 bg-white text-1">Semestre 9</div>
                                            <div class="desplegar"><img src="{{desplegar}}" alt="desplegar"></div>
                                            <div class="materia">Matemáticas II</div>
                                            <div class="materia">Programación II </div>
                                            <div class="materia">Lecto-escritura</div>
                                            <div class="materia">Diseño WEB</div>
                                            <div class="materia">Metodología de la Investigación</div>
                                            <div class="materia">Pensamiento empresarial tendencias de emprendimiento</div>
                                            
                                        </div>
                                        
                                    </div>
                                </div>

                                <div class="col-xl-3">
                                    <div class="row d-flex justify-content-center">
                                        <div class="col-10 semestre p-0 m-0 bg-sem10">
                                            <div class="py-3 bg-white text-1">Semestre 10</div>
                                            <div class="desplegar"><img src="{{desplegar}}" alt="desplegar"></div>
                                            <div class="materia">Fisica I</div>
                                            <div class="materia">Estructura de datos </div>
                                            <div class="materia">Programación III</div>
                                            <div class="materia">Plan de negocios</div>
                                            <div class="materia">Herramientas multiplataformas redes I</div>
                                            <div class="materia">Cálculo multivariado</div>
                                        </div>
                                        
                                    </div>
                                </div>
        
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-mb-6 col-6  py-4">
                            <a (click)="paginas('1')" class="btn" (click)="activo='1'">
                                <img src="{{prev}}" alt="boton siguiente"> 
                                Regresar
                                
                            </a>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-mb-6 col-6 text-right py-4">
                            <a (click)="paginas('3')" class="btn" (click)="activo='3'">
                                Conoce nuestra financiación
                                <img src="{{next}}" alt="boton siguiente">
                            </a>
                        </div>



                    </div>
                </div>
            </div>
            
       

        </div><!-- cierra pagina dos -->

        <div id="pag-three" style="display:none">

            <div class="row">
                
                    <div class="col-xl-12 col-lg-12 colmd-12 col-12">
                        <div class="row financiacion-interno">
                            <img src="{{banner_financiacion}}" alt="Financiación 0% interes" width="100%">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-12 financiacion-contenido ">
                               <div class="row justify-content-center vertical-align-center h-100 text-center">
                                    <div class="col-xl-8">
                                        <h2 class="text-white tamano-1"> FINANCIACIÓN 0% INTERÉS </h2>
                                        <p class="text-1">Garantizamos descuentos durante TODA tu carrera</p>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-12 col-lg-12 col-md-12 col-12 py-4 my-4"></div>
            </div> 

            <div class="row justify-content-center">
                <div class="col-xl-3 border-right-1">
                    <div class="row justify-content-center">
                        <div class="col-xl-8">
                            <h2 class="titulo-2 text-3 pt-4">Financiación directa:</h2>
                            <p class="text-right text-1">
                                Facil<br>
                                Sin fiadores<br>
                                Sin revisar centrales de riesgo<br>
                                Y con solo 2 clicks
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3">
                    <div class="row d-flex justify-content-center ">
                        <div class="col-xl-1 numero-financiacion text-3 hv-100 vertical-align-center">1</div>
                        <div class="col-xl-8 text-center bg-1 text-white p-4 alto-card-financiacion border-bottom-1">
                            <div class="row">
                                <span class="col-12 fs-5 pt-4">Valor inscripción</span>
                                <span class="col-12 fs-1">$100.446</span><br>
                                <span class="small">Incluye seguro</span> 
                                <span class="small">(Ins. $90.141 + $10.305))</span>
                                <span class="small">(Pago único)</span>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xl-3">
                    <div class="row d-flex justify-content-center vertical-align-center">

                        <div class="col-xl-1 numero-financiacion text-3 hv-100">2</div>
                        <div class="col-xl-8 text-center bg-1 text-white p-4 alto-card-financiacion border-bottom-1">
                            <div class="row">
                              
                                <span class="col-12 fs-5">Matrícula Ordinaria</span>
                                <span class="fs-6 text-decoration-line-through">$2.500.000 </span>
                                <span class="col-12 fs-1">$1.563.038</span>
                                <span class="small">Estos valores incrementarán de acuerdo al nivel de formación. (conoce más)</span> 
                                <span class="col-12 fs-2">Jornadas</span>
                                <span class="small">Diurna, nocturna, fines de semana y sólo sábados</span>
                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-12 col-lg-12 col-md-12 col-12 py-4 my-4"></div>

                
                <div class="col-xl-5 col-lg-5 col-mb-5 col-5 py-4">
                    <a (click)="paginas('2')" class="btn" (click)="activo='2'">
                        <img src="{{prev}}" alt="boton siguiente"> 
                        Regresar
                        
                    </a>
                </div>

                <div class="col-xl-5 col-lg-5 col-mb-5 col-5 text-right py-4">
                    <a (click)="paginas('4')" class="btn" (click)="activo='4'">
                        Ahora sí, vive la experiencia. ¡INSCRÍBETE! 
                        <img src="{{next}}" alt="boton siguiente">
                    </a>
                </div>

            </div>

            

        </div><!-- cierra el tres -->

        <div id="pag-four" style="display:none">

            <div class="row d-flex justify-content-center">
        
                <div class="col-xl-12 col-lg-12 col-md-12 col-12 text-center py-4 my-4">
                    <h2 class="titulo-2 tamano-1 py-4">Inscripción, asesoría y matrícula</h2>
                </div>
                <div class="col-xl-10 col-lg-10 col-md-10 col-10 text-center pb-4 my-4"><hr></div>
                <div class="col-xl-10 col-lg-10 col-md-10 col-10 text-center pb-4 my-4">
                   <h3 class="titulo-3 tamano-2"> La experiencia inicia aquí</h3>
                </div>

                <div class="col-xl-10 col-lg-10 col-md-10 col-10 ">
                    <div class="row">
                        
                        <div class="col-xl-3 text-center">
                            <div class="row justify-content-center">
                                <div class="col-10 shadow-lg bg-1 text-white border-bottom-1">
                                    <h4 class="p-4">¡Incríbete <br>en línea!</h4>
                                    <img src="{{inscribete_en_linea}}" alt="inscríbete en linea">
                                    <p class="small text-1">.</p>
                                    <div class="text-center p-4 ">
                                        <a href="" class="btn btn-light">Inscripción</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 text-center">
                            <div class="row justify-content-center">
                                <div class="col-10 shadow-lg bg-1 text-white border-bottom-1">
                                    <h4 class="p-4">¡Escríbeme y te <br>asesoro!</h4>
                                    <img src="{{te_asesoro}}" alt="Escríbeme y te asesoro">
                                    <p class="small text-1">.</p>
                                    <div class="text-center p-4 ">
                                        <a href="" class="btn btn-light">Inscripción</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 text-center">
                            <div class="row justify-content-center">
                                <div class="col-10 shadow-lg bg-1 text-white border-bottom-1">
                                    <h4 class="p-4">¿Prefieres <br>llamarme?</h4>
                                    <img src="{{llamame}}" alt="¿Prefieres llamarme?">
                                    <p class="small text-1">.</p>
                                    <div class="text-center p-4 ">
                                        <a href="" class="btn btn-light">Llámanos</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 text-center">
                            <div class="row justify-content-center">
                                <div class="col-10 shadow-lg bg-1 text-white border-bottom-1">
                                    <h4 class="p-4">¡Date una pasadita <br>por nuestra sede!</h4>
                                    <img src="{{visita_sede}}" alt="Date una pasadita por nuestra sede">
                                    <p class="small">Cra. 6 No. 24-56 • Pereira</p>
                                    <div class="text-center p-4 ">
                                        <a href="" class="btn btn-light">Agenda una cita</a>
                                    </div>
                                </div>
                            </div>
                        </div>

  
                    </div>

                </div>

                <div class="col-xl-12 col-lg-12 col-md-12 col-12 text-center py-4 my-4"></div>

                <div class="col-xl-12 bg-3 py-4 my-4">
                    <div class="row justify-content-center">
                        <div class="col-xl-3 text-white">
                            <div class="col-xl-12 p-0 m-0 fs-4">Conoce</div>
                            <div class="col-xl-12 fs-1 p-0 m-0">Nuestro</div>
                            <div class="col-xl-12 fs-4 p-0 m-0">ADN</div>
                        </div> 
                        <div class="col-xl-5 text-white fs-5">

                            <ol>
                                <li> Metodologías de aprendizaje<span class="bolder-1"> creativas</span> </li>
                                <li> Modelo presencial <span class="bolder-1">asistido por tecnologías.</span></li>
                                <li> Financiación <span class="bolder-1">directa, sin intereses, sin fiadores y sin revisar centrales de riesgo. </span></li>
                                <li> Formación por <span class="bolder-1">ciclos.</span></li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="col-xl-10 col-lg-10 col-mb-10 col-10  py-4">
                    <a (click)="paginas('3')" class="btn" (click)="activo='3'">
                        <img src="{{prev}}" alt="boton siguiente"> 
                        Regresar
                        
                    </a>
                </div>



            </div>

        </div><!-- cierra pagina cuatro -->


    </div>
</section>