<section>
    <div class="row banner-interno">

        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-12 pc">
            <img src="{{logo_pc}}" alt="Educación Continuada">
        </div>
        <div class="col-xx-12 col-xl-12 col-lg-12 col-md-12 col-12 movil">
            <img src="{{logo_m}}" alt="Educación Continuada">
        </div>



        <div class="col-xl-12 col-lg-12 col-md-12 col-12 banner-contenido">
            <div class="row justify-content-center ">

                <div class="col-xxl-10 col-xl-10 col-lg-10 col-md-10 col-10 padding-continuada">
                    <div class="row">

                       
                        <div class="col-xxl-10 col-xl-10 col-lg-10 col-md-10 col-10 text-white">
                            <h1 class=" pt-4 mt-4"> <br><span class="bolder-1">Relacionamiento</span></h1>
                            
                        </div>
                        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-12">
                            <h2 class="tamano-2 text-white bolder-1">con el Sector Externo</h2>
                        </div>

                        
                    </div>
                </div>

            </div>
        </div>
    
         
    
    </div>
</section>


<section class="pt-4 mt-4 mostrar">
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-10 col-md-10 col-10">

            <div class="row justify-content-center">
                <div class="col-xxl-10 col-xl-10 col-lg-10 mb-4 pb-4">
                    <h2 class="titulo-2 bolder-1 text-3 text-center">
                        ¡Un vínculo que abre puertas!<br>
                    </h2>
                </div>

                <div class="col-xxl-10 col-xl-10 col-lg-10 mb-4 pb-4 p-4 ver">
                    
                    <p class="text-justify">
                        El programa institucional Monitoreando la Experiencia, 
                        es una iniciativa que busca identificar el cumplimiento 
                        de los compromisos asumidos por cada dependencia y las metas 
                        para cumplir el desarrollo del Plan Estratégico 2019-2022, 
                        y definir las estrategias para el mejoramiento continuo de 
                        los procesos académicos de CIAF, dentro del eje de la Cultura de la calidad.
                    </p>
                    <p class="text-justify">
                        Nuestra área se encarga del cumplimiento de esta estrategia mediante auditorías, 
                        visitas, formularios, etc. 
                        presenciales o virtuales de manera directa o a través de la plataforma SAC.
                    </p>
                </div>

                <div class="col-xxl-10 col-xl-10 col-lg-10 mb-4 pb-4">
                    <h2 class="titulo-2 bolder-1 text-3 text-center">
                        La U en tu Colegio<br>
                    </h2>
                </div>

                <div class="col-xxl-5 mb-4 pb-4 text-center p-4"><img [src]="la_u_colegio" width="90%" alt="La universidad en tu colegio"></div>
                <div class="col-xxl-5 mb-4 pb-4 p-4 ">
                              
                    <p class="text-justify">
                        El programa institucional Monitoreando la Experiencia, 
                        es una iniciativa que busca identificar el cumplimiento 
                        de los compromisos asumidos por cada dependencia y las metas 
                        para cumplir el desarrollo del Plan Estratégico 2019-2022, 
                        y definir las estrategias para el mejoramiento continuo de 
                        los procesos académicos de CIAF, dentro del eje de la Cultura de la calidad.
                    </p>
                    <p class="text-justify">
                        Nuestra área se encarga del cumplimiento de esta estrategia mediante auditorías, 
                        visitas, formularios, etc. 
                        presenciales o virtuales de manera directa o a través de la plataforma SAC.
                    </p>
                </div>
                <div class="col-xxl-10 col-xl-10 col-lg-10 mb-4 pb-4">
                    <h2 class="titulo-2 bolder-1 text-3 text-center">
                        Mujeres que transforman el mundo<br>
                    </h2>
                </div> 
               
                <div class="col-xxl-5 mb-4 pb-4 p-4">
                              
                    <p class="text-justify">
                        El programa institucional Monitoreando la Experiencia, 
                        es una iniciativa que busca identificar el cumplimiento 
                        de los compromisos asumidos por cada dependencia y las metas 
                        para cumplir el desarrollo del Plan Estratégico 2019-2022, 
                        y definir las estrategias para el mejoramiento continuo de 
                        los procesos académicos de CIAF, dentro del eje de la Cultura de la calidad.
                    </p>
                    <p class="text-justify">
                        Nuestra área se encarga del cumplimiento de esta estrategia mediante auditorías, 
                        visitas, formularios, etc. 
                        presenciales o virtuales de manera directa o a través de la plataforma SAC.
                    </p>
                </div>

                <div class="col-xxl-5 mb-4 pb-4 text-center p-4"><img [src]="mujeres" width="90%" alt="La universidad en tu colegio"></div>

                <div class="col-xxl-10 col-xl-10 col-lg-10 mb-4 pb-4">
                    <h2 class="titulo-2 bolder-1 text-3 text-center">
                       Conversatorio con Empresas de la región<br>
                    </h2>
                </div>

                <div class="col-xxl-5 mb-4 pb-4 text-center p-4"><img [src]="conversatorio" width="90%" alt="La universidad en tu colegio"></div>
                <div class="col-xxl-5 mb-4 pb-4 p-4">
                              
                    <p class="text-justify">
                        El programa institucional Monitoreando la Experiencia, 
                        es una iniciativa que busca identificar el cumplimiento 
                        de los compromisos asumidos por cada dependencia y las metas 
                        para cumplir el desarrollo del Plan Estratégico 2019-2022, 
                        y definir las estrategias para el mejoramiento continuo de 
                        los procesos académicos de CIAF, dentro del eje de la Cultura de la calidad.
                    </p>
                    <p class="text-justify">
                        Nuestra área se encarga del cumplimiento de esta estrategia mediante auditorías, 
                        visitas, formularios, etc. 
                        presenciales o virtuales de manera directa o a través de la plataforma SAC.
                    </p>
                </div>
                

            </div>


        </div>
    </div>
</section>


