<section>
    <div class="row banner-interno">

        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-12 pc">
            <img src="{{logo_pc}}" alt="Educación Continuada">
        </div>
        <div class="col-xx-12 col-xl-12 col-lg-12 col-md-12 col-12 movil">
            <img src="{{logo_m}}" alt="Educación Continuada">
        </div>



        <div class="col-xl-12 col-lg-12 col-md-12 col-12 banner-contenido">
            <div class="row justify-content-center ">

                <div class="col-xxl-10 col-xl-10 col-lg-10 col-md-10 col-10 padding-continuada">
                    <div class="row">

                       
                        <div class="col-xxl-10 col-xl-10 col-lg-10 col-md-10 col-10 text-white">
                            <h1 class=" pt-4 mt-4"> <br><span class="bolder-1">Relacionamiento</span></h1>
                            
                        </div>
                        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-12">
                            <h2 class="tamano-2 text-white bolder-1">con el Sector Externo</h2>
                        </div>

                        
                    </div>
                </div>

            </div>
        </div>
    
         
    
    </div>
</section>


<section class="pt-4 mt-4 mostrar">
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-10 col-md-10 col-10">

            <div class="row justify-content-center">
                
                <div class="col-xxl-5 col-xl-5 col-lg-6 col-md-10 p-4 text-1 vertical-align-center">
                    
                    <div class="row ">
                        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-12 mb-4 pb-4">
                            <h2 class="text-3 font-2 fs-big text-center">
                                Fortalecer la alianza entre  la academia, el estado y las empresas<br>
                            </h2>
                        </div>
                        <div class="col-12">
                            <p class="text-justify">
                                En CIAF seguimos consolidando y  fortaleciendo nuestros procesos 
                                con el sector externo y productivo, fruto de estos espacios han 
                                nacido <span class="bolder-1">grandes alianzas </span>que nos han permitido construir valiosos 
                                espacios de aprendizaje hechos a su medida.
        
                            </p>
                            <p class="text-justify">
                                Es por ello, que durante los últimos años hemos visto con fuerza la 
                                necesidad que nace de la importancia de vincular las actividades de 
                                <span class="bolder-1">nuestra institución con su entorno</span> 
                                de forma más estrecha y formal; con el propósito de satisfacer los requerimientos de 
                                <span class="bolder-1">servicios, de investigación y desarrollo</span>, así como de 
                                <span class="bolder-1">educación continua de las empresas</span>; de manera que pueda enfrentar las demandas 
                                presentes y futuras con mejores perspectivas de éxito.
        
                            </p>
                        </div>
                    </div>
                    
                </div>

                

                <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-10 col-12 text-center p-4 vertical-align-center">
                    <iframe [src]="total" width="100%" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen ></iframe>
                </div>

                <div class="col-xxl-10 col-xl-10 col-lg-10 col-md-10 col-10 mb-4 pb-4">
                    <h2 class="text-3 font-2 fs-big text-center">
                        ¡Alianzas que transforman vidas!
                    </h2>
                </div>

                <section>
                    <div class="row justify-content-center">
                        <div class="col-xl-10 col-lg-10 col-md-10 col-10">
                            
                            <button (click)="prevImgConv()" class="boton-prev"><img src="{{prev}}" alt ="Anterior"></button>
                            <button (click)="nextImgConv()" class="boton-next"><img src="{{next}}" alt="Siguiente"></button>
                            <ngx-slick-carousel class="carousel" #slickModalConv="slick-carousel" [config]="slideConfigConvenios" responsive="breakpoints">
                               
                                <div ngxSlickItem  class="slide p-2">
                                    <div class="row">
                                        <div class="col-xl-12 px-4">
                                            <img [src]="diplomado_logistica" width="100%" alt="La universidad en tu colegio" class="shadow-sm">
                                        </div>
                                        <div class="col-12 px-2">
                                            <h3 class="bolder-1 lh-1 fs-4 mt-3 text-3 text-center">Diplomado en Logística y Retail para Unidos</h3>
                                            <p class="text-justify lh-2 text-1">
                                                Este diplomado  <span class="bolder-1"> el resultado de la sinergia entre 
                                                la academia y el sector productivo</span>, construido conjuntamente 
                                                con la empresa para fortalecer los equipos de trabajo y sus 
                                                necesidades; donde la experiencia de los docentes 
                                                fue pieza fundamental.
                                            </p>
                                            
                                        </div>
                                    </div>  
                                </div>

                                <div ngxSlickItem  class="slide p-2">
                                    <div class="row">
                                        <div class="col-xl-12 px-4">
                                            <img [src]="la_u_colegio" width="100%" alt="La universidad en tu colegio" class="shadow-sm">
                                        </div>
                                        <div class="col-12 px-2">
                                            <h3 class="bolder-1 lh-1 fs-4 mt-3 text-3 text-center ">La U en tu <br>Colegio</h3>
                                            <p class="text-justify lh-2 text-1">
                                                Una alianza que le ha dado la oportunidad a <span class="bolder-1">más de 300 estudiantes</span> de los colegios 
                                                públicos de Pereira, de obtener una <span class="bolder-1">doble titulación </span>una vez 
                                                se gradúen de la media académica.
                                            </p>
                                            
                                        </div>
                                    </div>  
                                </div>

                                <div ngxSlickItem  class="slide p-2">
                                    <div class="row">
                                        <div class="col-xl-12 px-4">
                                            <img [src]="conversatorio" width="100%" alt="Conversatorio con Empresas de la región" class="shadow-sm">
                                        </div>
                                        <div class="col-12 px-2">
                                            <h3 class="bolder-1 lh-1 fs-4 mt-3 text-3 text-center ">Conversatorio con Empresarios de la Región</h3>
                                            <p class="text-justify lh-2 text-1">
                                                Un valioso espacio donde los empresarios inspiraron a 
                                                nuestros estudiantes con sus <span class="bolder-1">experiencias 
                                                desde el sector productivo</span>, invitándolos a 
                                                hacer las cosas diferentes para obtener <span class="bolder-1">resultados diferentes</span>.
                                            </p>
                                            
                                        </div>
                                    </div>  
                                </div>

                                <div ngxSlickItem  class="slide p-2">
                                    <div class="row">
                                        <div class="col-xl-12 px-4">
                                            <img [src]="mujeres" width="100%" alt="Mujeres que transforman el mundo" class="shadow-sm">
                                        </div>
                                        <div class="col-12 px-2">
                                            <h3 class="bolder-1 lh-1 fs-4 mt-3 text-3 text-center ">Mujeres que  transforman el mundo</h3>
                                            <p class="text-justify lh-2 text-1">
                                                Estas valiosísimas mujeres nos contaron sus 
                                                experiencias desde los diferentes sectores 
                                                en los que se desenvuelven diariamente,  
                                                mostrándonos con hechos y resultados<span class="bolder-1"> como 
                                                su participación es fundamental</span> en los 
                                                procesos empresariales de nuestra región.
                                            </p>
                                            
                                        </div>
                                    </div>  
                                </div>

                                <div ngxSlickItem  class="slide p-2">
                                    <div class="row">
                                        <div class="col-xl-12 px-4">
                                            <img [src]="empresas_amigas_reunion" width="100%" alt="Mujeres que transforman el mundo" class="shadow-sm">
                                        </div>
                                        <div class="col-12 px-2">
                                            <h3 class="bolder-1 lh-1 fs-4 mt-3 text-3 text-center ">Desayuno con Empresas amigas</h3>
                                            <p class="text-justify lh-2 text-1">
                                                Escuchar a los empresarios de nuestra región es vital 
                                                para poder orientar nuestros planes de estudio, 
                                                ya que su experiencia en los diversos sectores 
                                                nos muestra con claridad la<span class="bolder-1"> evolución </span>que tiene 
                                                de manera <span class="bolder-1">constante</span> cada perfil profesional.
                                            </p>
                                            
                                        </div>
                                    </div>  
                                </div>

                            </ngx-slick-carousel>
                                
                             
                            
        
                        </div>
                    </div>
                </section>


            </div>
        </div>
    </div>
</section>


